.apps-logo {

  $app-width: 30px;

  left: 50%;
  position: relative;

  .app {
    @extend .background-contain;
    margin-right: 11.5px;
    margin-left: 11.5px;
    width: $app-width;
    height: $app-width;
    float: left;
  }
}

.outer-div {
  float: right;
  position: relative;
  left: -50%;
}
