* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.section-container {
  position: relative;
  overflow: hidden;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}

.background-cover {
  @extend .background-image;
  background-size: cover;
}

.background-contain {
  @extend .background-image;
  background-size: contain;
}

body.loading {
  height: 100%;
}

.loading .loader {
  display: block;
}

.loader {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * In order to allow centering functions below,
 * the container's position has to be relative.
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.vertical-center {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

.horizontal-center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  @include transform(translateX(-50%));
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translateX(-50%) translateY(-50%));
}

.grid {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .grid-item {
    float: left;
    position: relative;
  }
  .grid-item.full {
    width: 100%;
  }
  .grid-item.one-half {
    width: 50%;
  }
  .grid-item.one-third {
    width: 33.33%;
  }
  .grid-item.two-third {
    width: 66.66%;
  }
  .grid-item.one-fourth {
    width: 25%;
  }
  .grid-item.three-fourth {
    width: 75%;
  }
  .grid-item.one-fifth {
    width: 20%;
  }
  .grid-item.two-fifth {
    width: 40%;
  }
  .grid-item.three-fifth {
    width: 60%;
  }
  .grid-item.four-fifth {
    width: 80%;
  }
  .grid-item.one-sixth {
    width: 16.66%;
  }
  .grid-item.five-sixth {
    width: 83.33%;
  }
  .grid-item.one-eighth {
    width: 12.5%;
  }
  .grid-item.three-eighth {
    width: 37.5%;
  }
  .grid-item.five-eighth {
    width: 62.5%;
  }
  .grid-item.seven-eighth {
    width: 87.5%;
  }
}

.max-width-content {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.desktop-only {
  @include responsive(mobile) {
    display: none;
  }
}
