* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  // overflow: auto;
  // overflow-x: hidden;
}

.section-container {
  position: relative;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
}

.background-cover {
  @extend .background-image;
  background-size: cover;
}

.background-contain {
  @extend .background-image;
  background-size: contain;
}

body.loading {
  height: 100%;
}

.loading .loader {
  display: block;
}

.loader {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * In order to allow centering functions below,
 * the container's position has to be relative.
 * * * * * * * * * * * * * * * * * * * * * * * * * */

.vertical-center {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}

.horizontal-center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  @include transform(translateX(-50%));
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  @include transform(translateX(-50%) translateY(-50%));
}

.max-width-content {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.desktop-only {
  @include responsive(transition) {
    display: none;
  }

  @include responsive(mobile) {
    display: none;
  }
}

.mobile-transition-only {
  @include responsive(desktop) {
    display: none;
  }
}

.hidden {
  display: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * Animation
 * * * * * * * * * * * * * * * * * * * * * * * * * */

// Frictions
 .frictionFast {
   transition: 1s ease;
 }

 .frictionMed {
   transition: 2s ease;
 }

 .frictionSlow {
   transition: 4s ease;
 }

 // slide in from within the page

 .slide-left {
   @include animation((slide-left-key 1s ease));
 }

 @-webkit-keyframes slide-left-key {
   0%   { transform: translateX(300px); }
   100% { transform: translateX(0px); }
 }
 @-moz-keyframes slide-left-key {
   0%   { transform: translateX(300px); }
   100% { transform: translateX(0px); }
 }
 @-o-keyframes slide-left-key {
   0%   { transform: translateX(300px); }
   100% { transform: translateX(0px); }
 }
 @keyframes slide-left-key {
   0%   { transform: translateX(300px); }
   100% { transform: translateX(0px); }
 }


 .slide-right {
   @include animation((slide-right-key 1s ease));
 }

 @-webkit-keyframes slide-right-key {
   0%   { transform: translateX(-300px); }
   100% { transform: translateX(0px); }
 }
 @-moz-keyframes slide-right-key {
   0%   { transform: translateX(-300px); }
   100% { transform: translateX(0px); }
 }
 @-o-keyframes slide-right-key {
   0%   { transform: translateX(-300px); }
   100% { transform: translateX(0px); }
 }
 @keyframes slide-right-key {
   0%   { transform: translateX(-300px); }
   100% { transform: translateX(0px); }
 }

 // slide from outside the page

 .slide-up-full {
   @include animation((slide-up-full-key .5s ease));
 }

 @-webkit-keyframes slide-up-full-key {
   0%   { transform: translateY(100px); }
   100% { transform: translateY(0px); }
 }
 @-moz-keyframes slide-up-full-key {
   0%   { transform: translateY(100px); }
   100% { transform: translateY(0px); }
 }
 @-o-keyframes slide-up-full-key {
   0%   { transform: translateY(100px); }
   100% { transform: translateY(0px); }
 }
 @keyframes slide-up-full-key {
   0%   { transform: translateY(100px); }
   100% { transform: translateY(0px); }
 }
