#footer {

  $logo-width: 150px;
  $app-width: 30px;
  clear: both;
  padding-top: 125px;

  @include responsive(desktop) {
    position: fixed;
    width: 100%;
    bottom: 10px;
  }

  .logo {
    background-image: url('./images/buttons/sosmed_paribawga logo.svg');
    @extend .background-contain;
    width: $logo-width;
    height: 60px;

    float: none;
    margin: auto;
    left: auto;
    margin-bottom: 16px;

    @include responsive(desktop) {
      float: left;
      margin-left: 100px;
      margin-bottom: 0;
    }
  }

  .apps-logo {


    margin-right: 0;
    left: 50%;
    position: relative;
    height: $app-width;
    margin-bottom: 30px;

    @include responsive(desktop) {
      margin-right: 100px;
      left: auto;
      margin-bottom: 0;
      top: 15px;
    }

    .app {
      @extend .background-contain;
      margin-right: 3px;
      margin-left: 3px;
      width: $app-width;
      height: $app-width;
      float: left;
    }
  }

  .outer-div {
    float: right;
    position: relative;
    left: -50%;

    @include responsive(desktop) {
      left: auto;
    }
  }
}
