#footer {

  $logo-width: 150px;
  $app-width: 30px;
  clear: both;
  padding-top: 125px;

  .logo {
    background-image: url('./images/buttons/sosmed_paribawga logo.svg');
    @extend .background-contain;
    width: $logo-width;
    height: 60px;
    margin-left: 100px;
    float: left;

    @include responsive(mobile) {
      float: none;
      margin: auto;
      left: auto;
      margin-bottom: 16px;
    }
  }

  .apps-logo {


    margin-right: 100px;

    position: relative;
    height: $app-width;

    @include responsive(mobile) {
      margin-right: 0;
      left: 50%;
      margin-bottom: 30px;

    }

    .app {
      @extend .background-contain;
      margin-right: 3px;
      margin-left: 3px;
      width: $app-width;
      height: $app-width;
      float: left;
    }
  }

  .outer-div {
    float: right;
    position: relative;

    @include responsive(mobile) {
      left: -50%;

    }
  }
}
