.nav-menu {
  $nav-menu-top: 38px;
  $nav-menu-top-mobile: 5%;
  @extend .horizontal-center;

  z-index: 101;
  top: $nav-menu-top-mobile;

  position: fixed;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 250px;
  text-align: center;

  @include responsive(desktop) {
    top: $nav-menu-top;
    font-size: 15px;
    width: auto;
  }

  ul {
    list-style-type: none;
    display: none;

    @include responsive(desktop) {
      display: block;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    li {
      width: 100%;
      margin-top: 35px;

      @include responsive(desktop) {
        width: auto;
        float: left;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 0;
      }
    }
  }

  .title {
    display: block;

    @include responsive(desktop) {
      display: none;
    }
  }

  .underline {
    @include responsive(desktop) {
      border-bottom: 1px solid;
    }
  }
}

.gray-bg {
  $section-height: 100vh;
  $section-height-mobile: 100vh;
  z-index: 100;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: $section-height-mobile;
  background-color: $gray;
  @include opacity(.8);

  @include responsive(desktop) {
    height: $section-height;
  }
}

.white {
  @include responsive(desktop) {
    color: white;
  }
}

.index.nav-menu {
  opacity: 0;
}
