/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Helpers / Functions
 * Usage:
 *        @include transform(translateX(1px));
 *        @include transform((translateX(1px) rotateY(5deg)));
 *        @include opacity(0.5);
 *        @include transition((margin 0.5s 1s));
 *        @include responsive(mobile){ ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * *
 * SourceCodePro
 * font-weight:
 * - black     : 900
 * - bold      : 800
 * - semibold  : 600
 * - medium    : 400
 * - regular   : 300
 * - light     : 200
 * - extralight: 100
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-ExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * NeutraText
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: neutraText;
  src: url("./fonts/NeutraText/NeutraTextTF Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Parabola
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: parabola;
  src: url("./fonts/Parabola/PARABOLA-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Edmondsans
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: edmondSans;
  src: url("./fonts/EdmondSans/Edmondsans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

.section-container {
  position: relative;
  overflow: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.background-image, .background-cover, #hero-section, #hero-section .scroll-tag, #hero-section .down-tag, #bespoke-section .img2-marble-container .marble, .background-contain, #footer .logo, #footer .apps-logo .app, .header .navigations .previous, .header .navigations .next, .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, #hero-section .cover-tagline, #aboutus-section .image-container .image, #bespoke-section .img1-shelf-container .shelf, #sustain-section .img1-chair-container .chair, .collection-page .image-description .image, .collection-page .back-to-top {
  background-position: center center;
  background-repeat: no-repeat; }

.background-cover, #hero-section, #hero-section .scroll-tag, #hero-section .down-tag, #bespoke-section .img2-marble-container .marble {
  background-size: cover; }

.background-contain, #footer .logo, #footer .apps-logo .app, .header .navigations .previous, .header .navigations .next, .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, #hero-section .cover-tagline, #aboutus-section .image-container .image, #bespoke-section .img1-shelf-container .shelf, #sustain-section .img1-chair-container .chair, .collection-page .image-description .image, .collection-page .back-to-top {
  background-size: contain; }

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * In order to allow centering functions below,
 * the container's position has to be relative.
 * * * * * * * * * * * * * * * * * * * * * * * * * */
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center, #hero-section .nav-menu {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.center, #hero-section .cover-tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

#footer .logo {
  background-image: url("./images/buttons/sosmed_paribawga logo.svg");
  width: 150px;
  height: 60px;
  margin: auto;
  margin-bottom: 16px; }

#footer .apps-logo {
  left: 50%;
  position: relative;
  margin-bottom: 30px;
  height: 30px; }
  #footer .apps-logo .app {
    margin-right: 11.5px;
    margin-left: 11.5px;
    width: 30px;
    height: 30px;
    float: left; }

#footer .outer-div {
  float: right;
  position: relative;
  left: -50%; }

.header .title {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em; }

.header .navigations {
  margin-top: 50px;
  margin-left: 13px;
  margin-right: 20px;
  height: 60px; }
  .header .navigations .previous {
    background-image: url("./images/buttons/buttons_previous.svg");
    float: left;
    width: 44px;
    height: 0;
    padding-bottom: 19.21333px;
    margin-top: 10px; }
  .header .navigations .next {
    background-image: url("./images/buttons/buttons_next.svg");
    float: right;
    width: 20px;
    height: 0;
    padding-bottom: 21.73913px;
    margin-top: 10px; }
  .header .navigations .main-title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    float: left;
    width: calc(100% - 86px);
    text-align: center; }

.images-slide-section, #collection-section, #projects-section, #press-section {
  /* * * * * * * * * * * * * * * * * * * * * * * * * *
  * Group of images and descriptions
  * - image-and-description-box: a box to contain
  *     one image and its description below
  * - container to contain all boxes that allows
  *     horizontal scrolling
  * * * * * * * * * * * * * * * * * * * * * * * * * */ }
  .images-slide-section .title, #collection-section .title, #projects-section .title, #press-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 40px; }
  .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag {
    background-image: url("images/buttons/buttons_more.svg");
    position: absolute;
    top: 0;
    right: 28px;
    width: 30px;
    height: 0;
    padding-bottom: 27.10843px;
    margin-top: 10px; }
  .images-slide-section .image-and-description-box, #collection-section .image-and-description-box, #projects-section .image-and-description-box, #press-section .image-and-description-box {
    display: inline-block;
    width: 152px;
    margin-right: 22px;
    margin-left: 22px;
    white-space: normal; }
    .images-slide-section .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image {
      display: auto;
      width: 152px;
      height: 177px; }
    .images-slide-section .image-and-description-box .text, #collection-section .image-and-description-box .text, #projects-section .image-and-description-box .text, #press-section .image-and-description-box .text, .images-slide-section .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px; }
    .images-slide-section .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      margin-top: 23px;
      margin-bottom: 23px;
      text-transform: uppercase; }
  .images-slide-section .images-descriptions-container, #collection-section .images-descriptions-container, #projects-section .images-descriptions-container, #press-section .images-descriptions-container {
    margin-left: 68px;
    margin-bottom: 79px;
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }

#hero-section {
  background-image: url("images/index/1_coverimage.jpg"); }
  @media only screen and (max-width: 720px) {
    #hero-section {
      height: 558px; } }
  #hero-section .cover-tagline {
    background-image: url("images/index/1_tagline.png");
    height: 50%;
    width: 80%; }
  #hero-section .nav-menu {
    top: 5%; }
    #hero-section .nav-menu p {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: .2em; }
  #hero-section .scroll-tag {
    background-image: url("images/buttons/buttons_scroll.svg");
    position: absolute;
    height: 0; }
    @media only screen and (max-width: 720px) {
      #hero-section .scroll-tag {
        width: 48px;
        padding-bottom: 28.125px;
        left: 29px;
        bottom: 30px; } }
  #hero-section .down-tag {
    background-image: url("images/buttons/buttons_down.svg");
    position: absolute;
    height: 0; }
    @media only screen and (max-width: 720px) {
      #hero-section .down-tag {
        width: 42px;
        padding-bottom: 32.64249px;
        right: 22px;
        bottom: 30px; } }

@media only screen and (max-width: 720px) {
  #aboutus-section {
    height: 613px;
    margin-bottom: 64px; } }

#aboutus-section .title {
  text-transform: uppercase;
  font-family: parabola;
  font-weight: normal;
  font-size: 43px;
  letter-spacing: .015em;
  margin-top: 58px;
  margin-left: 35px;
  margin-bottom: 28px; }

#aboutus-section .text-container {
  width: calc(100% - 166px);
  float: left;
  overflow-x: visible; }
  #aboutus-section .text-container .text, #aboutus-section .text-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #aboutus-section .text-container .name {
    margin-left: 27px;
    width: 180px;
    left: 27px; }
    #aboutus-section .text-container .text p, #aboutus-section .text-container .images-slide-section .image-and-description-box .name p, .images-slide-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #aboutus-section .text-container .name p {
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 15px; }
    #aboutus-section .text-container .text .video-link, #aboutus-section .text-container .images-slide-section .image-and-description-box .name .video-link, .images-slide-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #collection-section .image-and-description-box .name .video-link, #collection-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #projects-section .image-and-description-box .name .video-link, #projects-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #press-section .image-and-description-box .name .video-link, #press-section .image-and-description-box #aboutus-section .text-container .name .video-link {
      font-family: sourceCodePro;
      font-weight: 800;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: inherit;
      margin-top: 20px;
      text-decoration: underline; }

#aboutus-section .image-container {
  width: 166px;
  float: right; }
  #aboutus-section .image-container .image {
    background-image: url("images/index/2_aboutus.jpg");
    position: relative;
    margin-top: 240px;
    width: 100%;
    height: 243px;
    bottom: 0; }

#bespoke-section {
  margin-bottom: 115px; }
  #bespoke-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 20px; }
  #bespoke-section .desc-container {
    width: calc(100% - 190px);
    height: 220px;
    padding-top: 48px;
    padding-left: 43px;
    float: left;
    overflow: visible;
    position: relative; }
    #bespoke-section .desc-container .text, #bespoke-section .desc-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #bespoke-section .desc-container .name {
      width: 230px;
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px; }
    #bespoke-section .desc-container .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-decoration: underline;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: inherit; }
  #bespoke-section .img1-shelf-container {
    width: 190px;
    overflow: visible;
    float: right; }
    #bespoke-section .img1-shelf-container .shelf {
      background-image: url("images/index/5_bespoke1.jpg");
      width: 190px;
      height: 246px;
      right: 0; }
  #bespoke-section .img2-marble-container {
    width: 351px;
    height: 208px;
    overflow: visible;
    float: right; }
    #bespoke-section .img2-marble-container .marble {
      background-image: url("images/index/5_bespoke2.jpg");
      position: relative;
      width: 100%;
      height: 234px;
      top: -26px;
      z-index: -1; }

#sustain-section .title {
  font-family: parabola;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: .015em;
  margin-left: 35px;
  margin-bottom: 20px; }

#sustain-section .img1-chair-container {
  float: left;
  overflow: visible;
  width: 197px; }
  #sustain-section .img1-chair-container .chair {
    background-image: url("images/index/6_sustain2.jpg");
    width: 100%;
    height: 231px; }

#sustain-section .img2-marble-container {
  float: right;
  overflow: visible;
  width: calc(100% - 197px); }
  #sustain-section .img2-marble-container .marble {
    background-image: url("images/index/6_sustain1.jpg");
    width: 320px;
    height: 221px;
    top: -73px;
    left: -74px;
    position: relative;
    z-index: -1; }

#sustain-section .text-container {
  width: 100%;
  margin-top: 24px;
  float: left;
  padding-left: 49px;
  padding-right: 49px;
  margin-bottom: 120px; }
  #sustain-section .text-container p {
    font-family: sourceCodePro;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px; }

#press-section .title {
  margin-bottom: 0; }

#press-section .date {
  margin-top: 26px;
  margin-bottom: 12px;
  font-family: sourceCodePro;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 19px;
  text-transform: uppercase; }

#press-section .text, .images-slide-section .image-and-description-box #press-section .name, #collection-section .image-and-description-box #press-section .name, #projects-section .image-and-description-box #press-section .name, #press-section .image-and-description-box .name {
  margin-top: 19px; }

#contact-section {
  text-align: center;
  padding: 20px; }
  #contact-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .055em;
    margin: auto; }
  #contact-section .content {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 28px; }
    #contact-section .content p {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .01em;
      margin-top: 20px; }
    #contact-section .content a {
      text-decoration: underline;
      color: inherit; }
    #contact-section .content .contact-info {
      margin-top: 40px;
      margin-bottom: 108px; }

.collection-page .content {
  margin-bottom: 75px; }

.collection-page .image-description {
  margin-top: 50px; }
  .collection-page .image-description .image {
    height: 200px;
    display: block;
    margin: auto; }
  .collection-page .image-description .desc {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 30px; }

.collection-page .back-to-top {
  background-image: url("./images/buttons/buttons_backtotop.svg");
  width: 40px;
  height: 0;
  padding-bottom: 30.92784px;
  position: absolute;
  right: 18px;
  bottom: 96px; }
