/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Helpers / Functions
 * Usage:
 *        @include transform(translateX(1px));
 *        @include transform((translateX(1px) rotateY(5deg)));
 *        @include opacity(0.5);
 *        @include transition((margin 0.5s 1s));
 *        @include responsive(mobile){ ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * *
 * SourceCodePro
 * font-weight:
 * - black     : 900
 * - bold      : 800
 * - semibold  : 600
 * - medium    : 400
 * - regular   : 300
 * - light     : 200
 * - extralight: 100
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-ExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * NeutraText
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: neutraText;
  src: url("./fonts/NeutraText/NeutraTextTF Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Parabola
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: parabola;
  src: url("./fonts/Parabola/PARABOLA-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Edmondsans
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: edmondSans;
  src: url("./fonts/EdmondSans/Edmondsans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

.section-container {
  position: relative;
  overflow: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.background-image, .background-cover, #hero-section, #hero-section .scroll-tag, #hero-section .down-tag, #bespoke-section .img2-marble-container .marble, .background-contain, #footer .logo, #footer .apps-logo .app, .header .navigations .previous, .header .navigations .next, .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, #hero-section .cover-tagline, #aboutus-section .image-container .image, #bespoke-section .img1-shelf-container .shelf, #sustain-section .img1-chair-container .chair, .collection-page .image-description .image, .collection-page .back-to-top, #furniture .image {
  background-position: center center;
  background-repeat: no-repeat; }

.background-cover, #hero-section, #hero-section .scroll-tag, #hero-section .down-tag, #bespoke-section .img2-marble-container .marble {
  background-size: cover; }

.background-contain, #footer .logo, #footer .apps-logo .app, .header .navigations .previous, .header .navigations .next, .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, #hero-section .cover-tagline, #aboutus-section .image-container .image, #bespoke-section .img1-shelf-container .shelf, #sustain-section .img1-chair-container .chair, .collection-page .image-description .image, .collection-page .back-to-top, #furniture .image {
  background-size: contain; }

body.loading {
  height: 100%; }

.loading .loader {
  display: block; }

.loader {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none; }

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * In order to allow centering functions below,
 * the container's position has to be relative.
 * * * * * * * * * * * * * * * * * * * * * * * * * */
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center, .nav-menu {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.center, #hero-section .cover-tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid .grid-item {
  float: left;
  position: relative; }

.grid .grid-item.full {
  width: 100%; }

.grid .grid-item.one-half {
  width: 50%; }

.grid .grid-item.one-third {
  width: 33.33%; }

.grid .grid-item.two-third {
  width: 66.66%; }

.grid .grid-item.one-fourth {
  width: 25%; }

.grid .grid-item.three-fourth {
  width: 75%; }

.grid .grid-item.one-fifth {
  width: 20%; }

.grid .grid-item.two-fifth {
  width: 40%; }

.grid .grid-item.three-fifth {
  width: 60%; }

.grid .grid-item.four-fifth {
  width: 80%; }

.grid .grid-item.one-sixth {
  width: 16.66%; }

.grid .grid-item.five-sixth {
  width: 83.33%; }

.grid .grid-item.one-eighth {
  width: 12.5%; }

.grid .grid-item.three-eighth {
  width: 37.5%; }

.grid .grid-item.five-eighth {
  width: 62.5%; }

.grid .grid-item.seven-eighth {
  width: 87.5%; }

.max-width-content {
  position: relative;
  max-width: 600px;
  margin: auto; }

#footer {
  margin-top: 75px; }
  #footer .logo {
    background-image: url("./images/buttons/sosmed_paribawga logo.svg");
    width: 150px;
    height: 60px;
    margin: auto;
    margin-bottom: 16px; }
  #footer .apps-logo {
    left: 50%;
    position: relative;
    margin-bottom: 30px;
    height: 30px; }
    #footer .apps-logo .app {
      margin-right: 11.5px;
      margin-left: 11.5px;
      width: 30px;
      height: 30px;
      float: left; }
  #footer .outer-div {
    float: right;
    position: relative;
    left: -50%; }

.header .title {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em; }

.header .navigations {
  margin-top: 50px;
  margin-left: 13px;
  margin-right: 20px;
  height: 50px; }
  .header .navigations .previous {
    background-image: url("./images/buttons/buttons_previous.svg");
    float: left;
    width: 44px;
    height: 0;
    padding-bottom: 19.21333px;
    margin-top: 10px; }
  .header .navigations .next {
    background-image: url("./images/buttons/buttons_next.svg");
    float: right;
    width: 20px;
    height: 0;
    padding-bottom: 21.73913px;
    margin-top: 10px; }
  .header .navigations .main-title, .header .navigations .sub-title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    float: left;
    width: calc(100% - 86px);
    text-align: center; }
  .header .navigations .sub-title {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-top: 10px;
    width: calc(100% - 76px); }

.images-slide-section, #collection-section, #projects-section, #press-section {
  /* * * * * * * * * * * * * * * * * * * * * * * * * *
  * Group of images and descriptions
  * - image-and-description-box: a box to contain
  *     one image and its description below
  * - container to contain all boxes that allows
  *     horizontal scrolling
  * * * * * * * * * * * * * * * * * * * * * * * * * */ }
  .images-slide-section .title, #collection-section .title, #projects-section .title, #press-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 40px; }
  .images-slide-section .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag {
    background-image: url("images/buttons/buttons_more.svg");
    position: absolute;
    top: 0;
    right: 28px;
    width: 30px;
    height: 0;
    padding-bottom: 27.10843px;
    margin-top: 10px; }
  .images-slide-section .image-and-description-box, #collection-section .image-and-description-box, #projects-section .image-and-description-box, #press-section .image-and-description-box {
    display: inline-block;
    vertical-align: top;
    width: 152px;
    margin-right: 22px;
    margin-left: 22px;
    white-space: normal; }
    .images-slide-section .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image {
      width: 152px;
      height: 177px; }
    .images-slide-section .image-and-description-box .text, #collection-section .image-and-description-box .text, #projects-section .image-and-description-box .text, #press-section .image-and-description-box .text, .images-slide-section .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px; }
    .images-slide-section .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      font-family: sourceCodePro;
      font-weight: 300;
      margin-top: 23px;
      margin-bottom: 23px;
      text-transform: uppercase; }
  .images-slide-section .images-descriptions-container, #collection-section .images-descriptions-container, #projects-section .images-descriptions-container, #press-section .images-descriptions-container {
    margin-left: 68px;
    margin-bottom: 79px;
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }

#hero-section {
  height: 650px; }
  @media only screen and (max-width: 720px) {
    #hero-section {
      height: 558px; } }
  #hero-section .header {
    height: 100vh;
    position: relative; }
  #hero-section .header .bx-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0px; }
  #hero-section .header .bx-viewport {
    height: 100% !important; }
  #hero-section .header .bxslider {
    height: 100%; }
  #hero-section .bxslider .slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  #hero-section .other {
    background-color: transparent;
    padding-top: 30%; }
  #hero-section .banner {
    padding: 40px;
    text-align: center;
    background: white; }
  #hero-section .cover-tagline {
    background-image: url("images/index/1_tagline.png");
    height: 70%;
    width: 80%; }
  #hero-section .scroll-tag {
    background-image: url("images/buttons/buttons_scroll.svg");
    position: absolute;
    height: 0;
    left: 29px;
    bottom: 30px;
    width: 48px;
    padding-bottom: 28.125px; }
    @media only screen and (max-width: 720px) {
      #hero-section .scroll-tag {
        left: 29px;
        bottom: 30px; } }
  #hero-section .down-tag {
    background-image: url("images/buttons/buttons_down.svg");
    position: absolute;
    height: 0;
    width: 42px;
    padding-bottom: 32.64249px;
    right: 22px;
    bottom: 30px; }
    @media only screen and (max-width: 720px) {
      #hero-section .down-tag {
        right: 22px;
        bottom: 30px; } }

#aboutus-section .content {
  position: relative;
  margin: auto;
  width: 75%; }
  @media only screen and (min-width: 721px) and (max-width: 1023px) {
    #aboutus-section .content {
      width: 90%; } }
  @media only screen and (max-width: 720px) {
    #aboutus-section .content {
      width: 100%; } }

@media only screen and (max-width: 720px) {
  #aboutus-section {
    height: 660px;
    margin-bottom: 64px; } }

#aboutus-section .title {
  text-transform: uppercase;
  font-family: parabola;
  font-weight: normal;
  letter-spacing: .015em;
  font-size: 64px;
  margin-top: 58px;
  margin-left: 10%; }
  @media only screen and (min-width: 721px) and (max-width: 1023px) {
    #aboutus-section .title {
      margin-left: 10%; } }
  @media only screen and (max-width: 720px) {
    #aboutus-section .title {
      font-size: 43px;
      margin-left: 35px;
      margin-bottom: 28px; } }

#aboutus-section .text-container {
  width: 46%;
  float: left;
  overflow-x: visible;
  padding-left: 20%; }
  @media only screen and (min-width: 721px) and (max-width: 1023px) {
    #aboutus-section .text-container {
      width: 46%;
      padding-left: 20%; } }
  @media only screen and (max-width: 720px) {
    #aboutus-section .text-container {
      padding-left: 0; } }
  #aboutus-section .text-container .text, #aboutus-section .text-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #aboutus-section .text-container .name {
    width: 285px;
    left: 27px;
    margin-bottom: 60px; }
    @media only screen and (max-width: 720px) {
      #aboutus-section .text-container .text, #aboutus-section .text-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #aboutus-section .text-container .name {
        margin-bottom: 0;
        margin-left: 27px; } }
    #aboutus-section .text-container .text p, #aboutus-section .text-container .images-slide-section .image-and-description-box .name p, .images-slide-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #aboutus-section .text-container .name p {
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 15px; }
    #aboutus-section .text-container .text .video-link, #aboutus-section .text-container .images-slide-section .image-and-description-box .name .video-link, .images-slide-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #collection-section .image-and-description-box .name .video-link, #collection-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #projects-section .image-and-description-box .name .video-link, #projects-section .image-and-description-box #aboutus-section .text-container .name .video-link, #aboutus-section .text-container #press-section .image-and-description-box .name .video-link, #press-section .image-and-description-box #aboutus-section .text-container .name .video-link {
      font-family: sourceCodePro;
      font-weight: 800;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: inherit;
      margin-top: 20px;
      text-decoration: underline; }

#aboutus-section .image-container {
  width: 250px;
  float: left; }
  @media only screen and (max-width: 720px) {
    #aboutus-section .image-container {
      float: right; } }
  #aboutus-section .image-container .image {
    z-index: -1;
    background-image: url("images/index/2_aboutus.jpg");
    background-position-x: right;
    position: relative;
    width: 200px;
    height: 500px;
    margin-top: -190px;
    float: right;
    right: -86px; }
    @media only screen and (max-width: 720px) {
      #aboutus-section .image-container .image {
        margin-top: -37px;
        height: 243px;
        bottom: 0;
        right: 0; } }

#collection-section .image-and-description-box {
  width: 180px; }
  #collection-section .image-and-description-box .image {
    width: 180px;
    height: 210px; }

#bespoke-section {
  margin-bottom: 115px; }
  #bespoke-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 20px; }
  #bespoke-section .desc-container {
    width: calc(100% - 190px);
    height: 220px;
    padding-top: 38px;
    float: left;
    overflow: visible;
    position: relative; }
    #bespoke-section .desc-container .text, #bespoke-section .desc-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #bespoke-section .desc-container .name, #bespoke-section .desc-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #bespoke-section .desc-container .name {
      float: left;
      padding-left: 43px;
      min-height: 175px;
      margin-top: 10px;
      width: 290px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px; }
    #bespoke-section .desc-container .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-decoration: underline;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: inherit; }
  #bespoke-section .img1-shelf-container {
    width: 190px;
    overflow: visible;
    float: right; }
    #bespoke-section .img1-shelf-container .shelf {
      background-image: url("images/index/5_bespoke1.jpg");
      width: 190px;
      height: 246px;
      right: 0;
      margin-top: -80px; }
      @media only screen and (max-width: 720px) {
        #bespoke-section .img1-shelf-container .shelf {
          margin-top: 0; } }
  #bespoke-section .img2-marble-container {
    width: 351px;
    height: 208px;
    overflow: visible;
    float: right; }
    #bespoke-section .img2-marble-container .marble {
      background-image: url("images/index/5_bespoke2.jpg");
      position: relative;
      width: 550px;
      height: 234px;
      top: -26px;
      z-index: -1;
      float: right;
      margin-top: -80px;
      margin-right: 40px; }
      @media only screen and (min-width: 721px) and (max-width: 1023px) {
        #bespoke-section .img2-marble-container .marble {
          margin-right: 0; } }
      @media only screen and (max-width: 720px) {
        #bespoke-section .img2-marble-container .marble {
          width: 100%;
          margin-top: 0;
          margin-right: 0; } }

#sustain-section .title {
  font-family: parabola;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: .015em;
  margin-left: 35px;
  margin-bottom: 20px; }

#sustain-section .img1-chair-container {
  float: left;
  overflow: visible;
  width: 197px; }
  #sustain-section .img1-chair-container .chair {
    background-image: url("images/index/6_sustain2.jpg");
    width: 100%;
    height: 231px; }

#sustain-section .img2-marble-container {
  float: left;
  overflow: visible;
  width: calc(40% - 197px); }
  @media only screen and (max-width: 720px) {
    #sustain-section .img2-marble-container {
      float: right;
      width: calc(100% - 197px); } }
  #sustain-section .img2-marble-container .marble {
    background-image: url("images/index/6_sustain1.jpg");
    width: 320px;
    height: 221px;
    top: -73px;
    position: relative;
    z-index: -1; }
    @media only screen and (max-width: 720px) {
      #sustain-section .img2-marble-container .marble {
        left: -74px; } }

#sustain-section .text-container {
  width: 40%;
  margin-top: 24px;
  float: left;
  padding-left: 49px;
  padding-right: 49px; }
  @media only screen and (max-width: 720px) {
    #sustain-section .text-container {
      width: 100%;
      margin-bottom: 120px; } }
  #sustain-section .text-container .text, #sustain-section .text-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #sustain-section .text-container .name {
    width: 400px;
    margin-left: -65px; }
    @media only screen and (max-width: 720px) {
      #sustain-section .text-container .text, #sustain-section .text-container .images-slide-section .image-and-description-box .name, .images-slide-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #sustain-section .text-container .name {
        width: 100%;
        margin-left: 0; } }
    #sustain-section .text-container .text p, #sustain-section .text-container .images-slide-section .image-and-description-box .name p, .images-slide-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #sustain-section .text-container .name p {
      width: 240px;
      float: left;
      margin-bottom: 20px;
      margin-right: 20px;
      min-height: 160px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px; }
      @media only screen and (max-width: 720px) {
        #sustain-section .text-container .text p, #sustain-section .text-container .images-slide-section .image-and-description-box .name p, .images-slide-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #sustain-section .text-container .name p {
          width: 100%;
          min-height: auto; } }

#press-section .title {
  margin-bottom: 0; }

#press-section .date {
  margin-top: 26px;
  margin-bottom: 12px;
  font-family: sourceCodePro;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 19px;
  text-transform: uppercase; }

#press-section .text, .images-slide-section .image-and-description-box #press-section .name, #collection-section .image-and-description-box #press-section .name, #projects-section .image-and-description-box #press-section .name, #press-section .image-and-description-box .name {
  margin-top: 19px; }

#contact-section {
  text-align: center;
  padding: 20px; }
  #contact-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .055em;
    margin: auto; }
  #contact-section .content {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 28px; }
    #contact-section .content p {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .01em;
      margin-top: 20px; }
      #contact-section .content p .info {
        font-family: edmondSans;
        font-weight: normal; }
    #contact-section .content a {
      text-decoration: underline;
      color: inherit; }
    #contact-section .content .contact-info {
      margin-top: 40px;
      font-family: edmondSans;
      font-weight: normal; }

.nav-menu {
  z-index: 101;
  top: 5%;
  position: fixed;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: white; }
  @media only screen and (max-width: 720px) {
    .nav-menu {
      width: 250px;
      text-align: center; } }
  .nav-menu ul {
    list-style-type: none; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      .nav-menu ul {
        display: none; } }
    @media only screen and (max-width: 720px) {
      .nav-menu ul {
        display: none; } }
    .nav-menu ul a {
      text-decoration: none;
      color: inherit; }
    .nav-menu ul li {
      float: left;
      margin-left: 15px;
      margin-right: 15px; }
      @media only screen and (max-width: 720px) {
        .nav-menu ul li {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          margin-top: 35px; } }
  .nav-menu .title {
    display: none; }
    @media only screen and (min-width: 721px) and (max-width: 1023px) {
      .nav-menu .title {
        display: block; } }
    @media only screen and (max-width: 720px) {
      .nav-menu .title {
        display: block; } }

.gray-bg {
  z-index: 100;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-color: #aaaaa9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8; }
  @media only screen and (max-width: 720px) {
    .gray-bg {
      height: 558px; } }

.collection-page .max-width-content {
  position: relative;
  max-width: 300px;
  margin: auto; }

.collection-page .image-description {
  margin-top: 50px; }
  .collection-page .image-description .image {
    height: 200px;
    max-width: 320px;
    display: block;
    margin: auto; }
  .collection-page .image-description .desc {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 30px; }

.collection-page .back-to-top {
  background-image: url("./images/buttons/buttons_backtotop.svg");
  width: 40px;
  height: 0;
  padding-bottom: 30.92784px;
  position: absolute;
  right: 18px;
  bottom: 96px; }

#furniture .max-width-content {
  position: relative;
  max-width: 500px;
  margin: auto; }

#furniture .image {
  padding-top: 40px;
  height: 340px;
  max-width: 300px;
  display: block;
  position: relative;
  margin: auto; }

#furniture .desc {
  font-family: edmondSans;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 19px;
  margin: 40px 15px; }

#furniture .back-link {
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .05em;
  line-height: 19px;
  text-transform: uppercase;
  color: inherit;
  text-align: center; }

#project-info {
  padding-top: 20px; }
  #project-info .component {
    text-align: center;
    width: 80%;
    max-width: 255px;
    margin: auto;
    margin-top: 35px; }
  #project-info .title {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 21px;
    text-transform: uppercase; }
  #project-info .desc {
    font-family: edmondSans;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 15px; }
