/* * * * * * * * * * * * * * * * * * * * * * *
 * Device screen size
 * Usage: @include responsive(mobile) { ... }
 *        @include responsive(transition){ ... }
 *        @include responsive(desktop) { ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * *
 * Helpers / Functions
 * Usage:
 *        @include transform(translateX(1px));
 *        @include transform((translateX(1px) rotateY(5deg)));
 *        @include opacity(0.5);
 *        @include transition((margin 0.5s 1s));
 *        @include responsive(mobile){ ... }
 * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * *
 * SourceCodePro
 * font-weight:
 * - black     : 900
 * - bold      : 800
 * - semibold  : 600
 * - medium    : 400
 * - regular   : 300
 * - light     : 200
 * - extralight: 100
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: sourceCodePro;
  src: url("./fonts/SourceCodePro/SourceCodePro-ExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * NeutraText
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: neutraText;
  src: url("./fonts/NeutraText/NeutraTextTF Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Parabola
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: parabola;
  src: url("./fonts/Parabola/PARABOLA-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* * * * * * * * * * * * * * * * * * * * * * * * *
 * Edmondsans
 * * * * * * * * * * * * * * * * * * * * * * * * */
@font-face {
  font-family: edmondSans;
  src: url("./fonts/EdmondSans/Edmondsans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

html, body {
  width: 100%;
  max-width: 100%; }

.section-container {
  position: relative;
  clear: both; }

a {
  cursor: pointer; }

.clearfix:before, .furniture .max-width-content:before, .clearfix:after, .furniture .max-width-content:after {
  content: " ";
  display: table; }

.clearfix:after, .furniture .max-width-content:after {
  clear: both; }

.background-image, .background-cover, #hero-section, #bespoke-section .shelf, #bespoke-section .marble, #sustain-section .img1-chair-container .chair, .furniture .image, .background-contain, #footer .logo, #footer .apps-logo .app, .mobile-header .prev, .collection-page .prev, .furniture .prev, .project-page .prev, .mobile-header .next, .collection-page .next, .furniture .next, .project-page .next, .mobile-images-collection .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, .mobile-images-collection .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image, .mobile-images-collection .image-and-description-box .image1, #collection-section .image-and-description-box .image1, #projects-section .image-and-description-box .image1, #press-section .image-and-description-box .image1, .mobile-images-collection .image-and-description-box .image2, #collection-section .image-and-description-box .image2, #projects-section .image-and-description-box .image2, #press-section .image-and-description-box .image2, .mobile-images-collection .image-and-description-box .image3, #collection-section .image-and-description-box .image3, #projects-section .image-and-description-box .image3, #press-section .image-and-description-box .image3, .mobile-images-collection .image-and-description-box .image4, #collection-section .image-and-description-box .image4, #projects-section .image-and-description-box .image4, #press-section .image-and-description-box .image4, #hero-section .cover-tagline .img, #aboutus-section .image-container .image, #contact-section .back-to-top, .level div, .collection-page .image-description .image, .collection-page .back-to-top, .project-page .image-description .image, .project-page .back-to-top {
  background-position: center center;
  background-repeat: no-repeat; }

.background-cover, #hero-section, #bespoke-section .shelf, #bespoke-section .marble, #sustain-section .img1-chair-container .chair, .furniture .image {
  background-size: cover; }

.background-contain, #footer .logo, #footer .apps-logo .app, .mobile-header .prev, .collection-page .prev, .furniture .prev, .project-page .prev, .mobile-header .next, .collection-page .next, .furniture .next, .project-page .next, .mobile-images-collection .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag, .mobile-images-collection .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image, .mobile-images-collection .image-and-description-box .image1, #collection-section .image-and-description-box .image1, #projects-section .image-and-description-box .image1, #press-section .image-and-description-box .image1, .mobile-images-collection .image-and-description-box .image2, #collection-section .image-and-description-box .image2, #projects-section .image-and-description-box .image2, #press-section .image-and-description-box .image2, .mobile-images-collection .image-and-description-box .image3, #collection-section .image-and-description-box .image3, #projects-section .image-and-description-box .image3, #press-section .image-and-description-box .image3, .mobile-images-collection .image-and-description-box .image4, #collection-section .image-and-description-box .image4, #projects-section .image-and-description-box .image4, #press-section .image-and-description-box .image4, #hero-section .cover-tagline .img, #aboutus-section .image-container .image, #contact-section .back-to-top, .level div, .collection-page .image-description .image, .collection-page .back-to-top, .project-page .image-description .image, .project-page .back-to-top {
  background-size: contain; }

body.loading {
  height: 100%; }

.loading .loader {
  display: block; }

.loader {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  display: none; }

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * In order to allow centering functions below,
 * the container's position has to be relative.
 * * * * * * * * * * * * * * * * * * * * * * * * * */
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horizontal-center, .nav-menu {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.center, #hero-section .cover-tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.max-width-content {
  position: relative;
  max-width: 600px;
  margin: auto; }

@media only screen and (min-width: 721px) and (max-width: 1199px) {
  .desktop-only {
    display: none; } }

@media only screen and (max-width: 720px) {
  .desktop-only {
    display: none; } }

@media only screen and (min-width: 1200px) {
  .mobile-transition-only {
    display: none; } }

.hidden {
  display: none; }

/* * * * * * * * * * * * * * * * * * * * * * * * * *
 * Animation
 * * * * * * * * * * * * * * * * * * * * * * * * * */
.slide-up-full {
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .slide-up-full.activate {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

#footer {
  clear: both;
  margin-top: 125px; }
  @media only screen and (min-width: 1200px) {
    #footer {
      position: fixed;
      width: 100%;
      bottom: 10px; } }
  #footer .logo {
    background-image: url("./images/buttons/sosmed_paribawga logo.svg");
    width: 150px;
    height: 60px;
    float: none;
    margin: auto;
    left: auto;
    margin-bottom: 16px; }
    @media only screen and (min-width: 1200px) {
      #footer .logo {
        float: left;
        margin-left: 100px;
        margin-bottom: 0; } }
  #footer .apps-logo {
    margin-right: 0;
    left: 50%;
    position: relative;
    height: 30px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 1200px) {
      #footer .apps-logo {
        margin-right: 100px;
        left: auto;
        margin-bottom: 0;
        top: 15px; } }
    #footer .apps-logo .app {
      margin-right: 3px;
      margin-left: 3px;
      width: 30px;
      height: 30px;
      float: left; }
  #footer .outer-div {
    float: right;
    position: relative;
    left: -50%; }
    @media only screen and (min-width: 1200px) {
      #footer .outer-div {
        left: auto; } }

.mobile-header .title, .collection-page .title, .furniture .title, .project-page .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em; }

.mobile-header .prev, .collection-page .prev, .furniture .prev, .project-page .prev {
  background-image: url("./images/buttons/buttons_previous.svg");
  position: absolute;
  width: 44px;
  height: 0;
  padding-bottom: 19.21333px;
  top: 80px;
  left: 0;
  margin-top: 10px;
  margin-left: 10px; }

.mobile-header .next, .collection-page .next, .furniture .next, .project-page .next {
  background-image: url("./images/buttons/buttons_next.svg");
  position: absolute;
  width: 23px;
  height: 0;
  padding-bottom: 25px;
  top: 80px;
  right: 0;
  margin-top: 4px;
  margin-right: 20px; }

.mobile-header .main-title, .collection-page .main-title, .furniture .main-title, .project-page .main-title {
  font-family: parabola;
  font-weight: 300;
  font-size: 43px;
  letter-spacing: .015em;
  text-align: center; }

.mobile-header .sub-title, .collection-page .sub-title, .furniture .sub-title, .project-page .sub-title {
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center; }

.nav-menu {
  z-index: 101;
  top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: transparent;
  position: fixed;
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .2em;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }
  @media only screen and (min-width: 1200px) {
    .nav-menu {
      top: 0;
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 15px;
      width: auto; } }
  .nav-menu ul {
    list-style-type: none;
    display: none; }
    @media only screen and (min-width: 1200px) {
      .nav-menu ul {
        display: block; } }
    .nav-menu ul a {
      text-decoration: none;
      color: inherit; }
    .nav-menu ul li {
      width: 100%;
      margin-top: 35px; }
      @media only screen and (min-width: 1200px) {
        .nav-menu ul li {
          width: auto;
          float: left;
          margin-left: 25px;
          margin-right: 25px;
          margin-top: 0; } }
  .nav-menu .title {
    display: block; }
    @media only screen and (min-width: 1200px) {
      .nav-menu .title {
        display: none; } }
  @media only screen and (min-width: 1200px) {
    .nav-menu .underline {
      border-bottom: 1px solid; } }

.gray-bg {
  z-index: 100;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #aaaaa9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8; }
  @media only screen and (min-width: 1200px) {
    .gray-bg {
      height: 100vh; } }

@media only screen and (min-width: 1200px) {
  .white {
    color: white; } }

.mobile-images-collection, #collection-section, #projects-section, #press-section {
  margin-bottom: 0;
  /* * * * * * * * * * * * * * * * * * * * * * * * * *
  * Group of images and descriptions
  * - container to contain all boxes that allows
  *     horizontal scrolling
  * - image-and-description-box: a box to contain
  *     one image and its description below
  * * * * * * * * * * * * * * * * * * * * * * * * * */ }
  .mobile-images-collection .max-width-content, #collection-section .max-width-content, #projects-section .max-width-content, #press-section .max-width-content {
    top: 60px; }
  .mobile-images-collection .mobile-transition-only, #collection-section .mobile-transition-only, #projects-section .mobile-transition-only, #press-section .mobile-transition-only {
    display: inline-block; }
  .mobile-images-collection .title, #collection-section .title, #projects-section .title, #press-section .title {
    z-index: 100;
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 40px; }
  .mobile-images-collection .more-tag, #collection-section .more-tag, #projects-section .more-tag, #press-section .more-tag {
    background-image: url("images/buttons/buttons_more.svg");
    position: absolute;
    top: 60px;
    right: 28px;
    width: 30px;
    height: 0;
    padding-bottom: 27.10843px;
    margin-top: 10px; }
  .mobile-images-collection .images-descriptions-container, #collection-section .images-descriptions-container, #projects-section .images-descriptions-container, #press-section .images-descriptions-container {
    z-index: 1;
    margin-left: 68px;
    margin-bottom: 30px;
    width: auto;
    min-height: 450px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
  .mobile-images-collection .image-and-description-box, #collection-section .image-and-description-box, #projects-section .image-and-description-box, #press-section .image-and-description-box {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin-right: 22px;
    margin-left: 22px;
    white-space: normal; }
    .mobile-images-collection .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image, .mobile-images-collection .image-and-description-box .image1, #collection-section .image-and-description-box .image1, #projects-section .image-and-description-box .image1, #press-section .image-and-description-box .image1, .mobile-images-collection .image-and-description-box .image2, #collection-section .image-and-description-box .image2, #projects-section .image-and-description-box .image2, #press-section .image-and-description-box .image2, .mobile-images-collection .image-and-description-box .image3, #collection-section .image-and-description-box .image3, #projects-section .image-and-description-box .image3, #press-section .image-and-description-box .image3, .mobile-images-collection .image-and-description-box .image4, #collection-section .image-and-description-box .image4, #projects-section .image-and-description-box .image4, #press-section .image-and-description-box .image4 {
      display: none;
      width: 180px;
      height: 210px; }
    .mobile-images-collection .image-and-description-box .image, #collection-section .image-and-description-box .image, #projects-section .image-and-description-box .image, #press-section .image-and-description-box .image {
      display: block; }
    .mobile-images-collection .image-and-description-box .image1, #collection-section .image-and-description-box .image1, #projects-section .image-and-description-box .image1, #press-section .image-and-description-box .image1 {
      display: block; }
    .mobile-images-collection .image-and-description-box .text, #collection-section .image-and-description-box .text, #projects-section .image-and-description-box .text, #press-section .image-and-description-box .text, .mobile-images-collection .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 17px; }
    .mobile-images-collection .image-and-description-box .name, #collection-section .image-and-description-box .name, #projects-section .image-and-description-box .name, #press-section .image-and-description-box .name {
      font-family: sourceCodePro;
      font-weight: 300;
      margin-top: 23px;
      margin-bottom: 23px;
      text-transform: uppercase; }
    .mobile-images-collection .image-and-description-box .explore-link, #collection-section .image-and-description-box .explore-link, #projects-section .image-and-description-box .explore-link, #press-section .image-and-description-box .explore-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      text-align: left; }
      .mobile-images-collection .image-and-description-box .explore-link a, #collection-section .image-and-description-box .explore-link a, #projects-section .image-and-description-box .explore-link a, #press-section .image-and-description-box .explore-link a {
        color: inherit; }
    .mobile-images-collection .image-and-description-box .read-more, #collection-section .image-and-description-box .read-more, #projects-section .image-and-description-box .read-more, #press-section .image-and-description-box .read-more {
      text-decoration: underline;
      font-weight: 500; }

.index {
  overflow: hidden; }

#hero-section {
  overflow: hidden;
  height: 100vh; }
  @media only screen and (min-width: 1200px) {
    #hero-section {
      height: 100vh; } }
  #hero-section .header {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute; }
  #hero-section .header .bx-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0; }
  #hero-section .header .bx-viewport {
    height: 100% !important; }
  #hero-section .header .bxslider {
    height: 100%; }
  #hero-section .bxslider .slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  #hero-section .other {
    background-color: transparent;
    padding-top: 30%; }
  #hero-section .banner {
    padding: 40px;
    text-align: center;
    background: white; }
  #hero-section .cover-tagline {
    height: 80%;
    width: 70%; }
    #hero-section .cover-tagline .img {
      background-image: url("images/index/1_tagline_new.png");
      height: 100%;
      opacity: 0; }
    #hero-section .cover-tagline svg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; }
      #hero-section .cover-tagline svg g path {
        opacity: 0; }
  #hero-section .scroll-tag {
    color: white;
    z-index: 101;
    font-family: sourceCodePro;
    position: absolute;
    left: 29px;
    bottom: 20px; }
    @media only screen and (min-width: 1200px) {
      #hero-section .scroll-tag {
        left: 58px;
        bottom: 32px; } }
  #hero-section .down-tag {
    color: white;
    z-index: 101;
    font-family: sourceCodePro;
    position: absolute;
    right: 29px;
    bottom: 20px; }
    @media only screen and (min-width: 1200px) {
      #hero-section .down-tag {
        right: 58px;
        bottom: 32px; } }

#aboutus-section {
  overflow: visible;
  height: 660px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 1200px) {
    #aboutus-section {
      margin-bottom: 0; } }
  #aboutus-section .max-width-content {
    position: relative;
    max-width: 600px;
    margin: auto;
    top: 60px; }
    @media only screen and (min-width: 1200px) {
      #aboutus-section .max-width-content {
        max-width: 800px;
        top: 128px; } }
  #aboutus-section .content {
    position: relative;
    margin: auto;
    width: 100%; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #aboutus-section .content {
        width: 90%; } }
    @media only screen and (min-width: 1200px) {
      #aboutus-section .content {
        width: 75%; } }
  #aboutus-section .title {
    text-transform: uppercase;
    font-family: parabola;
    font-weight: normal;
    letter-spacing: .015em;
    font-size: 43px;
    margin-left: 35px;
    margin-bottom: 28px; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #aboutus-section .title {
        font-size: 64px;
        margin-left: 10%;
        margin-bottom: 0; } }
    @media only screen and (min-width: 1200px) {
      #aboutus-section .title {
        font-size: 80px;
        margin-left: 0;
        margin-bottom: 43px; } }
  #aboutus-section .text-container {
    width: 46%;
    float: left;
    overflow-x: visible;
    padding-left: 0; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #aboutus-section .text-container {
        width: 46%;
        padding-left: 17%; } }
    @media only screen and (min-width: 1200px) {
      #aboutus-section .text-container {
        padding-left: 7%; } }
    #aboutus-section .text-container .text, #aboutus-section .text-container .mobile-images-collection .image-and-description-box .name, .mobile-images-collection .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #aboutus-section .text-container .name {
      width: 285px;
      left: 27px;
      margin-bottom: 0;
      margin-left: 27px; }
      @media only screen and (min-width: 1200px) {
        #aboutus-section .text-container .text, #aboutus-section .text-container .mobile-images-collection .image-and-description-box .name, .mobile-images-collection .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #aboutus-section .text-container .name, #aboutus-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #aboutus-section .text-container .name {
          width: 350px;
          margin-bottom: 60px;
          margin-left: 0; } }
      #aboutus-section .text-container .text p, #aboutus-section .text-container .mobile-images-collection .image-and-description-box .name p, .mobile-images-collection .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #aboutus-section .text-container .name p {
        font-family: edmondSans;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: .05em;
        line-height: 15px; }
        @media only screen and (min-width: 1200px) {
          #aboutus-section .text-container .text p, #aboutus-section .text-container .mobile-images-collection .image-and-description-box .name p, .mobile-images-collection .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #aboutus-section .text-container .name p, #aboutus-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #aboutus-section .text-container .name p {
            font-size: 14px;
            line-height: 17px; } }
  #aboutus-section .image-container {
    width: 250px;
    float: right; }
    #aboutus-section .image-container .image {
      z-index: -1;
      background-image: url("images/index/2_aboutus.jpg");
      background-position-x: right;
      position: relative;
      width: 330px;
      height: 243px;
      margin-top: -37px;
      float: right;
      bottom: 0; }
      @media only screen and (min-width: 1200px) {
        #aboutus-section .image-container .image {
          margin-top: -136px;
          height: 465px;
          bottom: auto; } }

@media only screen and (min-width: 1200px) {
  #collection-section {
    margin-bottom: 40px;
    /* * * * * * * * * * * * * * * * * * * * * * * * * *
    * Group of images and descriptions
    * - image-and-description-box: a box to contain
    *     one image and its description below
    * - container to contain all boxes that allows
    *     horizontal scrolling
    * * * * * * * * * * * * * * * * * * * * * * * * * */ }
    #collection-section .max-width-content {
      max-width: 800px; }
    #collection-section .title {
      font-size: 80px;
      text-align: right;
      position: relative;
      margin-top: 90px;
      margin-right: -64px;
      margin-bottom: 0; }
    #collection-section .more-tag {
      position: absolute;
      top: 250px;
      right: 66px; }
    #collection-section .more-tag.desktop-only {
      left: 77px;
      right: auto; }
    #collection-section .images-descriptions-container {
      overflow: visible;
      white-space: normal;
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      overflow: visible; }
    #collection-section .row {
      width: 100%;
      clear: both;
      top: -75px;
      position: relative; }
    #collection-section .image-and-description-box {
      display: none;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      overflow: visible; }
      #collection-section .image-and-description-box .image1, #collection-section .image-and-description-box .image2, #collection-section .image-and-description-box .image3, #collection-section .image-and-description-box .image4 {
        display: block;
        position: relative;
        float: left; }
      #collection-section .image-and-description-box .image1 {
        width: 197px;
        height: 232px; }
      #collection-section .image-and-description-box .image2 {
        width: 270px;
        height: 194px;
        margin-left: 60px;
        top: -16px; }
      #collection-section .image-and-description-box .image3 {
        width: 146px;
        height: 230px; }
      #collection-section .image-and-description-box .image4 {
        width: 197px;
        height: 299px;
        margin-left: 60px;
        top: -70px; }
      #collection-section .image-and-description-box .content-text {
        float: left;
        width: 365px;
        padding-right: 45px; }
      #collection-section .image-and-description-box .text, #collection-section .image-and-description-box .name {
        font-family: edmondSans;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: .05em;
        line-height: 17px; }
      #collection-section .image-and-description-box .explore-link {
        font-family: sourceCodePro;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .1em;
        text-transform: uppercase;
        text-align: left; }
        #collection-section .image-and-description-box .explore-link a {
          color: inherit; }
      #collection-section .image-and-description-box .name {
        font-family: sourceCodePro;
        font-weight: 300;
        margin-top: 23px;
        margin-bottom: 23px;
        text-transform: uppercase; }
    #collection-section .image-and-description-box.first {
      display: block; } }

#projects-section .explore-link {
  font-family: sourceCodePro;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: left; }
  #projects-section .explore-link a {
    color: inherit; }

@media only screen and (min-width: 1200px) {
  #projects-section {
    height: 600px;
    margin-bottom: 150px;
    padding-top: 60px;
    /* * * * * * * * * * * * * * * * * * * * * * * * * *
    * Group of images and descriptions
    * - image-and-description-box: a box to contain
    *     one image and its description below
    * - container to contain all boxes that allows
    *     horizontal scrolling
    * * * * * * * * * * * * * * * * * * * * * * * * * */ }
    #projects-section .max-width-content {
      max-width: 800px;
      padding-left: 56px; }
    #projects-section .title {
      font-size: 80px;
      text-align: left;
      position: relative;
      margin-left: -85px;
      margin-bottom: 42px; }
    #projects-section .more-tag {
      position: absolute;
      top: 250px;
      right: 77px; }
    #projects-section .more-tag.desktop-only {
      left: 66px;
      right: auto; }
    #projects-section .images-descriptions-container {
      overflow: visible;
      white-space: normal;
      margin-left: 0;
      margin-bottom: 79px;
      width: 100%;
      height: auto;
      overflow: visible; }
    #projects-section .column {
      float: left;
      position: relative; }
    #projects-section .image-and-description-box {
      display: none;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      overflow: visible; }
      #projects-section .image-and-description-box .image1, #projects-section .image-and-description-box .image2 {
        display: block;
        position: relative;
        float: left; }
      #projects-section .image-and-description-box .image1 {
        width: 258px;
        height: 297px; }
      #projects-section .image-and-description-box .image2 {
        width: 393px;
        height: 218px;
        margin-left: 82px;
        margin-top: -130px; }
      #projects-section .image-and-description-box .content-text {
        clear: left;
        width: 320px;
        padding: 22px;
        padding-left: 45px; }
      #projects-section .image-and-description-box .text, #projects-section .image-and-description-box .name {
        font-family: edmondSans;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: .05em;
        line-height: 17px; }
      #projects-section .image-and-description-box .name {
        font-family: sourceCodePro;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 23px;
        text-transform: uppercase; }
    #projects-section .image-and-description-box.first {
      display: block; } }

#bespoke-section {
  padding-top: 80px; }
  #bespoke-section .content {
    top: 50px; }
  #bespoke-section .title {
    z-index: 1;
    position: relative;
    font-family: parabola;
    font-weight: 300;
    letter-spacing: .015em;
    font-size: 80px;
    margin-left: 308px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 720px) {
      #bespoke-section .title {
        font-size: 43px;
        margin-left: 35px; } }
  #bespoke-section .text-container {
    width: 250px;
    z-index: 1;
    overflow: visible;
    padding-top: 38px;
    float: left;
    position: relative;
    min-height: 175px;
    margin-left: 229px; }
    @media only screen and (max-width: 720px) {
      #bespoke-section .text-container {
        padding-left: 43px;
        margin-left: 0; } }
    #bespoke-section .text-container .desc {
      margin-top: 10px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: .05em;
      line-height: 17px; }
      @media only screen and (max-width: 720px) {
        #bespoke-section .text-container .desc {
          font-size: 12px; } }
    #bespoke-section .text-container .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      text-align: right; }
      @media only screen and (max-width: 720px) {
        #bespoke-section .text-container .contact-link {
          text-align: left; } }
      #bespoke-section .text-container .contact-link a {
        color: inherit; }
  #bespoke-section .column {
    float: right;
    overflow: visible;
    width: 0; }
  #bespoke-section .shelf {
    background-image: url("images/index/5_bespoke1.jpg");
    background-position: left;
    width: 583px;
    height: 357px;
    float: right;
    position: relative;
    margin-top: -80px; }
    @media only screen and (max-width: 720px) {
      #bespoke-section .shelf {
        width: 190px;
        height: 246px;
        margin-top: 0; } }
  #bespoke-section .marble {
    background-image: url("images/index/5_bespoke2.jpg");
    position: relative;
    clear: right;
    width: 882px;
    height: 337px;
    top: -155px;
    z-index: -1;
    float: right;
    margin-top: -80px;
    margin-right: 40px; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #bespoke-section .marble {
        top: -26px;
        margin-right: 0; } }
    @media only screen and (max-width: 720px) {
      #bespoke-section .marble {
        top: -26px;
        width: 315px;
        height: 234px;
        margin-top: 0;
        margin-right: 0; } }

#sustain-section {
  padding-top: 85px;
  margin-bottom: 75px; }
  #sustain-section .content {
    top: 50px; }
  #sustain-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: .015em;
    margin-bottom: 20px;
    position: absolute;
    top: 137px;
    left: 769px; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #sustain-section .title {
        left: 330px; } }
    @media only screen and (max-width: 720px) {
      #sustain-section .title {
        position: relative;
        top: auto;
        left: auto;
        font-size: 43px;
        float: none;
        margin-left: 35px; } }
  #sustain-section .img1-chair-container {
    float: left;
    overflow: visible;
    width: 464px;
    margin-top: 50px; }
    @media only screen and (min-width: 721px) and (max-width: 1199px) {
      #sustain-section .img1-chair-container {
        margin-top: 0;
        width: 250px; } }
    @media only screen and (max-width: 720px) {
      #sustain-section .img1-chair-container {
        margin-top: 0;
        width: 197px; } }
    #sustain-section .img1-chair-container .chair {
      background-image: url("images/index/6_sustain2.jpg");
      position: relative;
      width: 100%;
      height: 543px;
      top: -40px; }
      @media only screen and (min-width: 721px) and (max-width: 1199px) {
        #sustain-section .img1-chair-container .chair {
          top: 0;
          height: 350px; } }
      @media only screen and (max-width: 720px) {
        #sustain-section .img1-chair-container .chair {
          top: 0;
          height: 231px; } }
  #sustain-section .img2-marble-container {
    float: left;
    overflow: visible;
    width: calc(40% - 197px);
    margin-top: 50px; }
    @media only screen and (max-width: 720px) {
      #sustain-section .img2-marble-container {
        float: right;
        margin-top: 0;
        width: calc(100% - 197px); } }
    #sustain-section .img2-marble-container .marble {
      background-image: url("images/index/6_sustain1.jpg");
      height: 330px;
      width: 566px;
      position: relative;
      z-index: -1; }
      @media only screen and (min-width: 721px) and (max-width: 1199px) {
        #sustain-section .img2-marble-container .marble {
          height: 240px;
          width: 400px; } }
      @media only screen and (max-width: 720px) {
        #sustain-section .img2-marble-container .marble {
          height: 221px;
          width: 320px;
          top: -73px;
          left: -74px; } }
  #sustain-section .text-container {
    width: 0;
    margin-top: 24px;
    float: left;
    padding-left: 49px;
    padding-right: 49px; }
    @media only screen and (max-width: 720px) {
      #sustain-section .text-container {
        width: 100%;
        margin-bottom: 120px; } }
    #sustain-section .text-container .text, #sustain-section .text-container .mobile-images-collection .image-and-description-box .name, .mobile-images-collection .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #sustain-section .text-container .name {
      width: 400px;
      margin-left: -320px;
      margin-top: 155px; }
      @media only screen and (min-width: 721px) and (max-width: 1199px) {
        #sustain-section .text-container .text, #sustain-section .text-container .mobile-images-collection .image-and-description-box .name, .mobile-images-collection .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #sustain-section .text-container .name {
          margin-left: -200px; } }
      @media only screen and (max-width: 720px) {
        #sustain-section .text-container .text, #sustain-section .text-container .mobile-images-collection .image-and-description-box .name, .mobile-images-collection .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #collection-section .image-and-description-box .name, #collection-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #projects-section .image-and-description-box .name, #projects-section .image-and-description-box #sustain-section .text-container .name, #sustain-section .text-container #press-section .image-and-description-box .name, #press-section .image-and-description-box #sustain-section .text-container .name {
          width: 100%;
          margin-left: 0;
          margin-top: 0; } }
      #sustain-section .text-container .text p, #sustain-section .text-container .mobile-images-collection .image-and-description-box .name p, .mobile-images-collection .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #sustain-section .text-container .name p {
        width: 240px;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;
        min-height: 160px;
        font-family: sourceCodePro;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: .05em;
        line-height: 19px; }
        @media only screen and (max-width: 720px) {
          #sustain-section .text-container .text p, #sustain-section .text-container .mobile-images-collection .image-and-description-box .name p, .mobile-images-collection .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #collection-section .image-and-description-box .name p, #collection-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #projects-section .image-and-description-box .name p, #projects-section .image-and-description-box #sustain-section .text-container .name p, #sustain-section .text-container #press-section .image-and-description-box .name p, #press-section .image-and-description-box #sustain-section .text-container .name p {
            width: 100%;
            min-height: auto; } }

#press-section {
  height: auto; }
  #press-section .image-and-description-box {
    height: 450px; }
    #press-section .image-and-description-box .image {
      width: 180px !important;
      height: 180px !important; }
    #press-section .image-and-description-box .date {
      margin-top: 26px;
      margin-bottom: 12px;
      font-family: sourceCodePro;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: .05em;
      line-height: 17px;
      text-transform: uppercase; }
      @media only screen and (max-width: 720px) {
        #press-section .image-and-description-box .date {
          font-size: 12px; } }
    #press-section .image-and-description-box .text, #press-section .image-and-description-box .name {
      margin-top: 19px; }
    #press-section .image-and-description-box .explore-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      text-align: left;
      color: inherit; }
      @media only screen and (min-width: 1200px) {
        #press-section .image-and-description-box .explore-link {
          font-size: 14px; } }
      #press-section .image-and-description-box .explore-link a {
        color: inherit; }
  @media only screen and (min-width: 1200px) {
    #press-section .max-width-content {
      max-width: 900px;
      top: 50px;
      height: auto; }
    #press-section .title {
      font-size: 80px;
      text-align: left;
      position: relative;
      margin-left: -85px;
      margin-bottom: 10px; }
    #press-section .more-tag {
      position: absolute;
      top: 250px;
      right: 77px; }
    #press-section .text, .mobile-images-collection .image-and-description-box #press-section .name, #collection-section .image-and-description-box #press-section .name, #projects-section .image-and-description-box #press-section .name, #press-section .image-and-description-box .name {
      font-size: 14px; }
    #press-section .images-descriptions-container {
      margin-left: 0;
      margin-bottom: 200px; }
      #press-section .images-descriptions-container .grid:after {
        content: "";
        display: table;
        clear: both; }
      #press-section .images-descriptions-container .grid .grid-item {
        float: left;
        position: relative; }
      #press-section .images-descriptions-container .grid .grid-item.full {
        width: 100%; }
      #press-section .images-descriptions-container .grid .grid-item.one-half {
        width: 50%; }
      #press-section .images-descriptions-container .grid .grid-item.one-third {
        width: 33.33%; }
      #press-section .images-descriptions-container .grid .grid-item.two-third {
        width: 66.66%; }
      #press-section .images-descriptions-container .grid .grid-item.one-fourth {
        width: 25%; }
      #press-section .images-descriptions-container .grid .grid-item.three-fourth {
        width: 75%; }
      #press-section .images-descriptions-container .grid .grid-item.one-fifth {
        width: 20%; }
      #press-section .images-descriptions-container .grid .grid-item.two-fifth {
        width: 40%; }
      #press-section .images-descriptions-container .grid .grid-item.three-fifth {
        width: 60%; }
      #press-section .images-descriptions-container .grid .grid-item.four-fifth {
        width: 80%; }
      #press-section .images-descriptions-container .grid .grid-item.one-sixth {
        width: 16.66%; }
      #press-section .images-descriptions-container .grid .grid-item.five-sixth {
        width: 83.33%; }
      #press-section .images-descriptions-container .grid .grid-item.one-eighth {
        width: 12.5%; }
      #press-section .images-descriptions-container .grid .grid-item.three-eighth {
        width: 37.5%; }
      #press-section .images-descriptions-container .grid .grid-item.five-eighth {
        width: 62.5%; }
      #press-section .images-descriptions-container .grid .grid-item.seven-eighth {
        width: 87.5%; }
    #press-section .image-and-description-box {
      margin-right: 35px;
      margin-left: 35px; }
      #press-section .image-and-description-box .image {
        width: 233px !important;
        height: 233px !important; } }

#contact-section {
  text-align: center;
  padding: 20px; }
  @media only screen and (min-width: 1200px) {
    #contact-section {
      margin-bottom: 100px; } }
  #contact-section .content {
    top: 50px; }
  #contact-section .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .055em;
    margin: auto; }
    @media only screen and (min-width: 1200px) {
      #contact-section .title {
        font-size: 80px; } }
  #contact-section .content {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 28px; }
    #contact-section .content p {
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: .1em;
      margin-top: 20px; }
      @media only screen and (min-width: 1200px) {
        #contact-section .content p {
          font-size: 18px; } }
      #contact-section .content p .info {
        font-size: 12px;
        font-family: edmondSans;
        font-weight: normal; }
        @media only screen and (min-width: 1200px) {
          #contact-section .content p .info {
            font-size: 17px; } }
    #contact-section .content a {
      text-decoration: underline;
      color: inherit; }
    #contact-section .content .contact-info {
      margin-top: 40px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px; }
      @media only screen and (min-width: 1200px) {
        #contact-section .content .contact-info {
          margin-top: 80px;
          font-size: 17px;
          line-height: 26px; } }
  #contact-section .back-to-top {
    background-image: url("./images/buttons/buttons_backtotop.svg");
    width: 60px;
    height: 0;
    padding-bottom: 46.39175px;
    position: absolute;
    right: 77px;
    top: 50px;
    -webkit-animation: 1s;
    -moz-animation: 1s;
    -o-animation: 1s;
    animation: 1s; }

.level {
  z-index: 1;
  width: 40px;
  height: 0;
  position: fixed;
  top: 57px; }
  .level div {
    display: none;
    width: 100%;
    padding-bottom: 136.37584px;
    background-position: left; }

.collection-page {
  /* * * * * * * * * * * * * * * *
   * HEADER
   * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * *
   * CONTENT
   * * * * * * * * * * * * * * * */ }
  .collection-page .nav-menu {
    background-color: white; }
  @media only screen and (min-width: 1200px) {
    .collection-page .next, .collection-page .prev {
      top: 300px; }
    .collection-page .prev {
      left: 77px;
      width: 60px;
      height: 0;
      padding-bottom: 26.2px; }
    .collection-page .next {
      right: 66px;
      width: 35px;
      height: 0;
      padding-bottom: 38.04348px; }
    .collection-page .main-title {
      font-size: 80px;
      text-align: right; } }
  .collection-page .max-width-content {
    top: 80px;
    position: relative;
    max-width: 300px;
    height: auto;
    margin-bottom: 150px;
    overflow: hidden; }
    @media only screen and (min-width: 1200px) {
      .collection-page .max-width-content {
        max-width: 820px;
        overflow: visible;
        margin: auto;
        top: 150px; } }
  @media only screen and (min-width: 1200px) {
    .collection-page .content {
      height: 2800px; } }
  .collection-page .image-description {
    position: relative;
    padding-top: 50px;
    width: 300px;
    margin: auto; }
    @media only screen and (min-width: 1200px) {
      .collection-page .image-description {
        width: 400px;
        height: 300px;
        padding-top: 20px; } }
    .collection-page .image-description .image {
      height: 250px;
      width: auto;
      display: block;
      margin: auto;
      max-width: 250px; }
      @media only screen and (min-width: 1200px) {
        .collection-page .image-description .image {
          max-width: 400px;
          margin: auto; } }
    .collection-page .image-description .desc {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 21px;
      text-transform: uppercase;
      margin-top: 20px;
      margin-left: 20px; }
      @media only screen and (min-width: 1200px) {
        .collection-page .image-description .desc {
          margin-left: 0; } }
  .collection-page .back-to-top {
    background-image: url("./images/buttons/buttons_backtotop.svg");
    width: 40px;
    height: 0;
    padding-bottom: 30.92784px;
    position: absolute;
    right: 18px;
    bottom: 14px; }
  @media only screen and (min-width: 1200px) {
    .collection-page .image-description {
      margin: 0; }
    .collection-page .image-description1 {
      margin-top: -225px;
      margin-left: 0; }
    .collection-page .image-description2 {
      margin-top: 0;
      margin-left: 441px; } }

.furniture {
  /* * * * * * * * * * * * * * * *
   * HEADER
   * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * *
   * CONTENT
   * * * * * * * * * * * * * * * */ }
  .furniture .nav-menu {
    background-color: white; }
  @media only screen and (min-width: 1200px) {
    .furniture .next, .furniture .prev {
      top: 364px; }
    .furniture .prev {
      left: 20px;
      width: 60px;
      height: 0;
      padding-bottom: 26.2px; }
    .furniture .next {
      right: 20px;
      width: 35px;
      height: 0;
      padding-bottom: 38.04348px; } }
  .furniture .max-width-content {
    position: relative;
    max-width: 320px;
    margin: auto;
    top: 80px; }
    @media only screen and (min-width: 1200px) {
      .furniture .max-width-content {
        max-width: 1000px;
        min-height: 675px; } }
  .furniture .image {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 50px; }
  .furniture .image1 {
    width: 176px;
    height: 207px; }
  .furniture .image2 {
    width: 118px;
    height: 168px; }
  .furniture .image3 {
    width: 134px;
    height: 118px; }
  .furniture .desc {
    font-family: edmondSans;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px;
    margin: 40px 15px; }
    @media only screen and (min-width: 1200px) {
      .furniture .desc {
        margin-top: 200px;
        margin-left: 632px;
        width: 350px; } }
    .furniture .desc .title {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: .2em;
      text-transform: uppercase;
      margin-top: 10px;
      text-align: center; }
  .furniture .back-link {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px;
    text-transform: uppercase;
    color: inherit;
    text-align: center; }
    @media only screen and (min-width: 1200px) {
      .furniture .back-link {
        text-align: left; } }
  @media only screen and (min-width: 1200px) {
    .furniture .column {
      float: left;
      width: 0;
      height: 500px;
      overflow: visible; }
    .furniture .image {
      max-width: none; }
    .furniture .image1 {
      padding-top: 0;
      top: 100px;
      width: 270px;
      height: 317.55682px; }
    .furniture .image2 {
      padding-top: 0;
      top: 40px;
      left: 313px;
      width: 202px;
      height: 292.55172px; }
    .furniture .image3 {
      padding-top: 0;
      top: 75px;
      left: 376px;
      width: 215px;
      height: 189.32836px; } }

.project-page {
  /* * * * * * * * * * * * * * * *
  * HEADER
  * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * *
   * CONTENT
   * * * * * * * * * * * * * * * */ }
  .project-page .nav-menu {
    background-color: white; }
  @media only screen and (min-width: 1200px) {
    .project-page .next, .project-page .prev {
      top: 215px; }
    .project-page .prev {
      left: 77px;
      width: 60px;
      height: 0;
      padding-bottom: 26.2px; }
    .project-page .next {
      right: 66px;
      width: 35px;
      height: 0;
      padding-bottom: 38.04348px; }
    .project-page .main-title {
      font-size: 80px;
      text-align: right; } }
  .project-page .max-width-content {
    top: 73px;
    position: relative;
    max-width: 300px;
    height: auto;
    margin-bottom: 150px;
    overflow: hidden; }
    @media only screen and (min-width: 1200px) {
      .project-page .max-width-content {
        max-width: 800px;
        overflow: visible;
        margin: auto;
        top: 150px; } }
  @media only screen and (min-width: 1200px) {
    .project-page .content {
      height: 780px; } }
  .project-page .image-description {
    position: relative;
    padding-top: 50px;
    width: 300px;
    margin: auto; }
    .project-page .image-description .image {
      height: 200px;
      display: block;
      margin: auto;
      max-width: 270px; }
      @media only screen and (min-width: 1200px) {
        .project-page .image-description .image {
          max-width: none;
          margin: 0; } }
    .project-page .image-description .image1 {
      width: auto;
      height: 180px; }
      @media only screen and (min-width: 1200px) {
        .project-page .image-description .image1 {
          height: 229px; } }
    .project-page .image-description .image2 {
      width: auto;
      height: 200px; }
      @media only screen and (min-width: 1200px) {
        .project-page .image-description .image2 {
          height: 350px; } }
    .project-page .image-description .image3 {
      width: auto;
      height: 200px; }
      @media only screen and (min-width: 1200px) {
        .project-page .image-description .image3 {
          height: 300px; } }
    .project-page .image-description .desc {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 21px;
      text-transform: uppercase;
      margin-top: 20px;
      margin-left: 20px; }
      @media only screen and (min-width: 1200px) {
        .project-page .image-description .desc {
          margin-left: 0; } }
  .project-page .image-desc-container {
    position: relative;
    width: 0;
    height: auto;
    overflow: visible; }
  .project-page .back-to-top {
    background-image: url("./images/buttons/buttons_backtotop.svg");
    width: 40px;
    height: 0;
    padding-bottom: 30.92784px;
    position: absolute;
    right: 18px;
    bottom: 14px; }
  @media only screen and (min-width: 1200px) {
    .project-page .image-description {
      margin: 0; }
    .project-page .image-description1 {
      margin-top: -174px;
      margin-left: 136px; }
    .project-page .image-description2 {
      margin-top: 28px;
      margin-left: 74px; }
    .project-page .image-description3 {
      margin-top: -429px;
      margin-left: 482px; } }
  .project-page #project-info {
    padding-top: 20px;
    width: 100%;
    display: table; }
    @media only screen and (min-width: 1200px) {
      .project-page #project-info {
        padding-top: 100px;
        width: 500px;
        margin: auto;
        margin-bottom: 100px; } }
    .project-page #project-info .component {
      text-align: center;
      width: 80%;
      max-width: 255px;
      margin: auto;
      margin-top: 35px; }
      @media only screen and (min-width: 1200px) {
        .project-page #project-info .component {
          display: table-row;
          height: 35px; } }
    .project-page #project-info .title {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 21px;
      text-transform: uppercase; }
      @media only screen and (min-width: 1200px) {
        .project-page #project-info .title {
          display: table-cell;
          text-align: left;
          width: 150px;
          border: 5px; } }
    .project-page #project-info .desc {
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 15px; }
      @media only screen and (min-width: 1200px) {
        .project-page #project-info .desc {
          display: table-cell;
          text-align: left;
          border: 5px; } }
