<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8" />
    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
    >
    <title></title>
    <link rel="stylesheet" href="./../css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="./../css/jquery.bxslider.min.css">
    <link rel="stylesheet" type="text/css" href="./../main.css">
  </head>

  <body>

    <section class="furniture">

      <!-- NAV MENU -->
      <div class="gray-bg"></div>
      <div class="nav-menu">
        <div class="title"> - collection - </div>
        <ul class="links">
          <li><a href="./../index.html">home</a></li>
          <li><a href="./../index.html#aboutus-section">about us</a></li>
          <li class="underline"><a href="./../index.html#collection-section">collection</a></li>
          <li><a href="./../index.html#projects-section">projects</a></li>
          <li><a href="./../index.html#bespoke-section">bespoke</a></li>
          <li><a href="./../index.html#sustain-section">sustainability</a></li>
          <li><a href="./../index.html#press-section">press</a></li>
          <li><a href="./../index.html#contact-section">contact</a></li>
        </ul>
      </div>

      <a name="top"></a>

      <div class="prev"></div>
      <div class="next"></div>


      <div class="content max-width-content">
        <div class="sub-title mobile-transition-only">furniture name 3</div>
        <div class="column">
          <a href="./../images/furniture/1-furniture2.jpg" data-lightbox="furniture1"><img class="image image1" src="./../images/furniture/2-furniture1.jpg"/></a>
        </div>
        <div class="column">
          <a href="./../images/furniture/1-furniture1.jpg" data-lightbox="furniture1"><img class="image image2" src="./../images/furniture/2-furniture2.jpg"/></a>
          <a href="./../images/furniture/1-furniture3.jpg" data-lightbox="furniture1"><img class="image image3" src="./../images/furniture/2-furniture3.jpg"/></a>
        </div>
        <div class="column">
          <div class="desc">
            <span class="title desktop-only">furniture name 2</span>
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <br><br>
            Material: Wood
            <br><br>
            Dimensions: W 110cm x L 500cm x H 150cm
            <br><br>
            Finishings: Duis aute irure dolor in
            <br><br><br>
            <a href="collection.html" class="back-link"><p>back to collection</p></a>
          </div>
        </div>
      </div>
      <section class="section-container" id="footer">
        <a href="./../index.html"><div class="logo"></div></a>
        <div class="outer-div">
          <div class="apps-logo">
            <div class="app" style="background-image: url(./../images/buttons/sosmed_IG.png);"></div>
            <div class="app" style="background-image: url(./../images/buttons/sosmed_fb.png);"></div>
            <div class="app" style="background-image: url(./../images/buttons/sosmed_pinterest.png);"></div>
            <div class="app" style="background-image: url(./../images/buttons/sosmed_wechat.png);"></div>
          </div>
        </div>
        <div class="back-to-top"></div>
      </section>
    </section>
    <script type="text/javascript" src="./../js/jquery.min.js"></script>
    <script type="text/javascript" src="./../js/lightbox.min.js"></script>
    <script type="text/javascript" src="./../js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="./../js/main.js"></script>
  </body>
</html>
