.collection-page {

  @extend .mobile-header;

  /* * * * * * * * * * * * * * * *
   * HEADER
   * * * * * * * * * * * * * * * */
  $next-prev-top: 300px;
  $prev-width: 60px;
  $next-width: 35px;

  @include responsive(desktop) {

    .next, .prev {
      top: $next-prev-top;
    }

    .prev {
      left: 77px;
      width: $prev-width;
      height: 0;
      padding-bottom: 131 / 300 * $prev-width;
    }

    .next {
      right: 66px;
      width: $next-width;
      height: 0;
      padding-bottom: 150 / 138 * $next-width;
    }

    .main-title {
      font-size: 80px;
      text-align: right;
    }
  }


  /* * * * * * * * * * * * * * * *
   * CONTENT
   * * * * * * * * * * * * * * * */
  .max-width-content {
    top: 80px;
    position: relative;
    max-width: 300px;
    height: auto;
    margin-bottom: 150px;
    overflow: hidden;

    @include responsive(desktop) {
      max-width: 820px;
      overflow: visible;
      margin: auto;
      top: 150px;
    }
  }

  .content {
    @include responsive(desktop) {
      height: 2800px;
    }
  }


  $backtotop-width: 40px;
  $backtotop-bottom: 14px;
  $backtotop-right: 18px;

  $container1-top: -225px;
  $container1-left: 0;
  $image-width: auto;
  $image-height: 250px;

  $container2-top: 0;
  $container2-left: 441px;


  .image-description {
    position: relative;
    padding-top: 50px;
    width: 300px;
    margin: auto;

    @include responsive(desktop) {
      width: 400px;
      height: 300px;
      padding-top: 20px;
    }

    .image {
      @extend .background-contain;
      height: $image-height;
      width: $image-width;
      display: block;
      margin: auto;
      max-width: 250px;

      @include responsive(desktop) {
        max-width: 400px;
        margin: auto;
      }
    }

    .desc {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 21px;
      text-transform: uppercase;

      margin-top: 20px;
      margin-left: 20px;

      @include responsive(desktop) {
        margin-left: 0;
      }
    }
  }

  // .image-desc-container {
  //   position: relative;
  //   width: 0;
  //   height: auto;
  //   overflow: visible;
  // }

  .back-to-top { // 194 x 150
    background-image: url('./images/buttons/buttons_backtotop.svg');
    @extend .background-contain;

    width: $backtotop-width;
    height: 0;
    padding-bottom: 150 / 194 * $backtotop-width;
    position: absolute;
    right: $backtotop-right;
    bottom: $backtotop-bottom;

  }

  @include responsive(desktop) {
    .image-description {
      margin: 0;
    }

    .image-description1 {
      margin-top: $container1-top;
      margin-left: $container1-left;
    }

    .image-description2 {
      margin-top: $container2-top;
      margin-left: $container2-left;
    }
  }
}
