.furniture {

  @extend .mobile-header;

  /* * * * * * * * * * * * * * * *
   * HEADER
   * * * * * * * * * * * * * * * */
  $next-prev-top: 364px;
  $prev-width: 60px;
  $next-width: 35px;

  @include responsive(desktop) {

    .next, .prev {
      top: $next-prev-top;
    }

    .prev {
      left: 20px;
      width: $prev-width;
      height: 0;
      padding-bottom: 131 / 300 * $prev-width;
    }

    .next {
      right: 20px;
      width: $next-width;
      height: 0;
      padding-bottom: 150 / 138 * $next-width;
    }
  }

  /* * * * * * * * * * * * * * * *
   * CONTENT
   * * * * * * * * * * * * * * * */

  $image1-top: 100px;
  $image1-width: 270px;
  $image1-height: 207 / 176 * 270px;
  $image1-width-mobile: 176px;
  $image1-height-mobile: 207px;

  $image2-top: 40px;
  $image2-left: 313px;
  $image2-width: 202px;
  $image2-height: 168 / 116 * 202px;
  $image2-width-mobile: 118px;
  $image2-height-mobile: 168px;

  $image3-top: 75px;
  $image3-left: 376px;
  $image3-width: 215px;
  $image3-height: 118 / 134 * 215px;
  $image3-width-mobile: 134px;
  $image3-height-mobile: 118px;

  $text-top: 200px;
  $text-left: 632px;

  .max-width-content {

    position: relative;
    max-width: 320px;
    margin: auto;
    top: 80px;
    @extend .clearfix;

    @include responsive(desktop) {
      max-width: 1000px;
      min-height: 675px;
    }
  }

  .image {
    @extend .background-cover;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 50px;
  }

  .image1 {
    width: $image1-width-mobile;
    height: $image1-height-mobile;
  }

  .image2 {
    width: $image2-width-mobile;
    height: $image2-height-mobile;
  }

  .image3 {
    width: $image3-width-mobile;
    height: $image3-height-mobile;
  }


  .desc {
    font-family: edmondSans;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px;
    margin: 40px 15px;

    @include responsive (desktop) {
      margin-top: $text-top;
      margin-left: $text-left;
      width: 350px;
    }

    .title {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: .2em;
      text-transform: uppercase;
      margin-top: 10px;
      text-align: center;
    }
  }

  .back-link {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px;
    text-transform: uppercase;
    color: inherit;
    text-align: center;

    @include responsive(desktop) {
      text-align: left;
    }
  }

  @include responsive(desktop) {
    .column {
      float: left;
      width: 0;
      height: 500px;
      overflow: visible;
    }

    .image {
      max-width: none;
    }

    .image1 {
      padding-top: 0;
      top: $image1-top;
      width:$image1-width;
      height: $image1-height;
    }

    .image2 {
      padding-top: 0;
      top: $image2-top;
      left: $image2-left;
      width: $image2-width;
      height: $image2-height;
    }

    .image3 {
      padding-top: 0;
      top: $image3-top;
      left: $image3-left;
      width: $image3-width;
      height: $image3-height;
    }
  }
}
