#project-info {

  padding-top: 20px;
  width: 100%;

  display: table;

  @include responsive(desktop) {
    padding-top: 100px;
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
  }

  .component {
    text-align: center;
    width: 80%;
    max-width: 255px;
    margin: auto;
    margin-top: 35px;

    @include responsive(desktop) {
      display: table-row;
      height: 35px;
    }
  }

  .title {
    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 21px;
    text-transform: uppercase;

    @include responsive(desktop) {
      display: table-cell;
      text-align: left;
      width: 150px;
      border: 5px;
    }
  }

  .desc {
    font-family: edmondSans;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 15px;

    @include responsive(desktop) {
      display: table-cell;
      text-align: left;
      border: 5px;
    }
  }
}
