#aboutus-section {
  $section-height-mobile: 576px + 37px;
  $section-marginbottom: 64px;

  $image-width: 166px;
  $image-height: 243px;
  $image-margintop: 240px; // 203
  $text-container: calc(100% - 166px);
  $text-width: 180px;

  @include responsive (mobile) {
    height: $section-height-mobile;
    margin-bottom: $section-marginbottom;
  }
  .title {
    text-transform: uppercase;

    font-family: parabola;
    font-weight: normal;
    font-size: 43px;
    letter-spacing: .015em;

    margin-top: 58px;
    margin-left: 35px;
    margin-bottom: 28px;
  }

  .text-container {
    width: calc(100% - 166px); //image-width
    float: left;
    overflow-x: visible;

    .text {
      margin-left: 27px;
      width: $text-width;
      left: 27px;

      p {
        font-family: sourceCodePro;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: .05em;
        line-height: 15px;
      }

      .video-link {
        font-family: sourceCodePro;
        font-weight: 800;
        font-size: 12px;
        letter-spacing: .1em;
        text-transform: uppercase;

        color: inherit;
        margin-top: 20px;
        text-decoration: underline;
      }
    }
  }

  .image-container {
    width: $image-width;
    float: right;

    .image {
      background-image: url('images/index/2_aboutus.jpg');
      @extend .background-contain;

      position: relative;
      margin-top: $image-margintop;
      width: 100%;
      height: $image-height;
      bottom: 0;
    }
  }
}
