#aboutus-section {

  overflow: visible;
  $section-height: 660px;
  $section-marginbottom: 0;
  $section-marginbottom-mobile: 50px;

  $title-marginleft: 0;
  $title-marginleft-trans: 10%;
  $title-marginleft-mobile: 35px;

  $image-width: 330px; // 200px
  $image-width-mobile: 250px; // 166px

  $image-height: 465px;
  $image-height-mobile: 243px;

  $image-margintop: -136px;
  $image-margintop-mobile: -37px; // 203
  $image-right: -106px;
  $text-container-width: 46%;
  $text-container-width-trans: 46%;
  $text-width: 350px;
  $text-width-mobile: 285px;

  height: $section-height;
  margin-bottom: $section-marginbottom-mobile;

  @include responsive(desktop) {
    margin-bottom: $section-marginbottom;
  }


  .max-width-content {
    position: relative;
    max-width: 600px;
    margin: auto;
    top: 60px;

    @include responsive(desktop) {
      max-width: 800px;
      top: 128px;
    }
  }

  .content {
    position: relative;
    margin: auto;
    width: 100%;

    @include responsive (transition) {
      width: 90%;
    }

    @include responsive (desktop) {
      width: 75%;
    }
  }


  .title {
    text-transform: uppercase;

    font-family: parabola;
    font-weight: normal;
    letter-spacing: .015em;
    font-size: 43px;

    margin-left: $title-marginleft-mobile;
    margin-bottom: 28px;

    @include responsive(transition) {
      font-size: 64px;
      margin-left: $title-marginleft-trans;
      margin-bottom: 0;
    }

    @include responsive(desktop) {

      font-size: 80px;

      margin-left: $title-marginleft;
      margin-bottom: 43px;
    }
  }

  .text-container {
    width: $text-container-width;
    float: left;
    overflow-x: visible;
    padding-left: 0;

    @include responsive (transition) {
      width: $text-container-width-trans;
      padding-left: $title-marginleft-trans + 7%;
    }

    @include responsive (desktop) {
      padding-left: $title-marginleft + 7%;
    }

    .text {
      width: $text-width-mobile;
      left: 27px;
      margin-bottom: 0;
      margin-left: 27px;

      @include responsive(desktop) {
        width: $text-width;
        margin-bottom: 60px;
        margin-left: 0;
      }

      p {
        font-family: edmondSans;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: .05em;
        line-height: 15px;

        @include responsive(desktop) {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .image-container {
    width: $image-width-mobile;
    float: right;

    .image {
      z-index: -1;
      background-image: url('images/index/2_aboutus.jpg');
      @extend .background-contain;
      background-position-x: right;

      position: relative;
      width: $image-width;
      height: $image-height-mobile;
      margin-top: $image-margintop-mobile;
      float: right;
      bottom: 0;

      @include responsive(desktop) {
        margin-top: $image-margintop;
        height: $image-height;
        bottom: auto;
      }
    }
  }
}
