#bespoke-section {


  $desc-container-width: calc(100% - 190px); // shelf-width
  $desc-container-height: 220px;

  $text-width: 290px;

  $shelf-width: 583px;
  $shelf-width-mobile: 190px;
  $shelf-height: 357px;
  $shelf-height-mobile: 246px;

  $marble-width: 882px;
  $marble-width-mobile: 315px;
  $marble-height: 337px;
  $marble-height-mobile: 234px;

  $shelf-marble-overlap: 155px;
  $shelf-marble-overlap-mobile: 26px;

  $images-margintop: -80px;
  $images-margintop-mobile: 0;

  margin-bottom: 65px;

  .content {
    top: 50px;
  }

  .title {
    z-index: 1;
    position: relative;
    font-family: parabola;
    font-weight: 300;
    letter-spacing: .015em;
    font-size: 80px;
    margin-left: 308px;
    margin-bottom: 20px;

    @include responsive(mobile) {
      font-size: 43px;
      margin-left: 35px;
    }
  }

  .text-container {
    width: $text-width;
    z-index: 1;
    overflow: visible;
    padding-top: 38px; // 48 - text.margin-top
    float: left;
    position: relative;
    min-height: 175px;
    margin-left: 229px;

    @include responsive(mobile) {
      padding-left: 43px;
      margin-left: 0;
    }


    .desc {
      margin-top: 10px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: .05em;
      line-height: 17px;

      @include responsive(mobile) {
        font-size: 12px;
      }
    }

    .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      text-align: right;

      @include responsive(mobile) {
        text-align: left;
      }

      a {
        color: inherit;
      }
    }
  }

  .column {
    float: right;
    overflow: visible;
    width: 0;
  }

  .shelf {
    background-image: url('images/index/5_bespoke1.jpg');
    @extend .background-cover;

    width: $shelf-width;
    height: $shelf-height;
    float: right;
    position: relative;
    margin-top: $images-margintop;

    @include responsive (mobile) {
      width: $shelf-width-mobile;
      height: $shelf-height-mobile;
      margin-top: $images-margintop-mobile;
    }
  }

  .marble {
    background-image: url('images/index/5_bespoke2.jpg');
    @extend .background-cover;

    position: relative;
    clear: right;
    width: $marble-width;
    height: $marble-height;
    top: -1 * $shelf-marble-overlap;
    z-index: -1;
    float: right;

    margin-top: $images-margintop;
    margin-right: 40px;

    @include responsive (transition) {
      top: -1 * $shelf-marble-overlap-mobile;
      margin-right: 0;
    }

    @include responsive (mobile) {
      top: -1 * $shelf-marble-overlap-mobile;
      width: $marble-width-mobile;
      height: $marble-height-mobile;
      margin-top: $images-margintop-mobile;
      margin-right: 0;

    }

  }
}
