#bespoke-section {

  $desc-container-width: calc(100% - 190px); // shelf-width
  $desc-container-height: 220px;

  $text-width: 230px;

  $shelf-width: 190px;
  $shelf-height: 246px;

  $marble-width: 315px;
  $marble-height: 234px;

  $shelf-marble-overlap: 26px;

  margin-bottom: 115px;

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .desc-container {
    width: $desc-container-width;
    height: $desc-container-height;
    padding-top: 48px;
    padding-left: 43px;
    float: left;
    overflow: visible;
    position: relative;

    .text {
      width: $text-width;
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px;
    }

    .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-decoration: none;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }

  .img1-shelf-container {
    width: $shelf-width;
    overflow: visible;
    float: right;

    .shelf {
      background-image: url('images/index/5_bespoke1.jpg');
      @extend .background-contain;

      width: $shelf-width;
      height: $shelf-height;
      right: 0;
    }
  }

  .img2-marble-container {
    width: 351px;
    height: $marble-height - $shelf-marble-overlap;
    overflow: visible;
    float: right;

    .marble {
      background-image: url('images/index/5_bespoke2.jpg');
      @extend .background-cover;

      position: relative;
      width: 100%;
      height: $marble-height;
      top: -1 * $shelf-marble-overlap;
      z-index: -1;
    }
  }
}
