#bespoke-section {

  $desc-container-width: calc(100% - 190px); // shelf-width
  $desc-container-height: 220px;

  $text-width: 290px;

  $shelf-width: 190px;
  $shelf-height: 246px;

  $marble-width: 315px;
  $marble-height: 234px;

  $shelf-marble-overlap: 26px;

  $images-margintop: -80px;
  $images-margintop-mobile: 0;

  margin-bottom: 115px;

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .desc-container {
    width: $desc-container-width;
    height: $desc-container-height;
    padding-top: 38px; // 48 - text.margin-top
    float: left;
    overflow: visible;
    position: relative;

    .text {
      float: left;
      padding-left: 43px;
      min-height: 175px;
      margin-top: 10px;
      width: $text-width;
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px;
    }

    .contact-link {
      font-family: sourceCodePro;
      font-weight: 600;
      font-decoration: underline;
      font-size: 12px;
      letter-spacing: .1em;
      text-transform: uppercase;
      color: inherit;
    }
  }

  .img1-shelf-container {
    width: $shelf-width;
    overflow: visible;
    float: right;

    .shelf {
      background-image: url('images/index/5_bespoke1.jpg');
      @extend .background-contain;

      width: $shelf-width;
      height: $shelf-height;
      right: 0;

      margin-top: $images-margintop;

      @include responsive (mobile) {
        margin-top: $images-margintop-mobile;
      }
    }
  }

  .img2-marble-container {
    width: 351px;
    height: $marble-height - $shelf-marble-overlap;
    overflow: visible;
    float: right;

    .marble {
      background-image: url('images/index/5_bespoke2.jpg');
      @extend .background-cover;

      position: relative;
      width: 550px;
      height: $marble-height;
      top: -1 * $shelf-marble-overlap;
      z-index: -1;
      float: right;

      margin-top: $images-margintop;
      margin-right: 40px;

      @include responsive (transition) {
        margin-right: 0;
      }

      @include responsive (mobile) {
        width: 100%;
        margin-top: $images-margintop-mobile;
        margin-right: 0;
      }
    }
  }
}
