#collection-section {

  // mobile
  @extend .mobile-images-collection;


  // desktop and transition
  @include responsive(desktop) {

    $image1-width: 180px;
    $image1-height: 210px;

    $image2-width: 300px;
    $image2-height: 210px;
    $image2-marginleft: 40px;
    $image2-top: -30px;

    $image3-width: 180px;
    $image3-height: 300px;

    $image4-width: 210px;
    $image4-height: 400px;
    $image4-marginleft: 60px;
    $image4-top: -98px;

    $more-tag-top: 250px;
    $more-tag-width: 30px;

    $content-text-width: 320px;

    .max-width-content {
      max-width: 800px;
    }

    .title {
      font-size: 80px;
      text-align: right;
      position: relative;
      margin-right: -35px;
      margin-bottom: 0;
    }

    .more-tag { // 166 x 150
      position: absolute;
      top: $more-tag-top;
      right: 28px;
    }

    .more-tag.desktop-only {
      left: 28px;
      right: auto;
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * *
    * Group of images and descriptions
    * - image-and-description-box: a box to contain
    *     one image and its description below
    * - container to contain all boxes that allows
    *     horizontal scrolling
    * * * * * * * * * * * * * * * * * * * * * * * * * */

    .images-descriptions-container {
      overflow: visible;
      white-space:normal;
      margin-left: 0;
      margin-bottom: 79px;
      width: 100%;
      height: auto;
      overflow: visible;
    }

    .row {
      width: 100%;
      clear: both;
      top: -30px;
      position: relative;
    }

    .image-and-description-box {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      overflow: visible;

      .image1, .image2, .image3, .image4 {
        display: block;
        position: relative;
        float: left;
      }

      .image1 {
        width: $image1-width;
        height: $image1-height;
      }

      .image2 {
        width: $image2-width;
        height: $image2-height;
        margin-left: $image2-marginleft;
        top: $image2-top;
      }

      .image3 {
        width: $image3-width;
        height: $image3-height;
      }

      .image4 {
        width: $image4-width;
        height: $image4-height;
        margin-left: $image4-marginleft;
        top: $image4-top;
      }

      .content-text {
        float: left;
        width: $content-text-width;
        padding-right: 20px;
      }

      .text {
        font-family: edmondSans;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: .05em;
        line-height: 17px;
      }

      .name {
        // @extend .text;
        font-family: sourceCodePro;
        font-weight: 300;
        margin-top: 23px;
        margin-bottom: 23px;

        text-transform: uppercase;
      }
    }

  }
}
