#contact-section {
  height: auto;

  h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  h3 {
    text-align: center;
    padding: 10px;
  }

  a {
    color: inherit;
  }

}

#contact-content {
  margin: 20px;
}
