#contact-section {

  text-align: center;
  padding: 20px;

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .055em;
    margin: auto;
  }

  .content {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 28px;

    p {
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: .1em;
      margin-top: 20px;

      .info {
        font-size: 17px;
        font-family: edmondSans;
        font-weight: normal;

        @include responsive(mobile) {
          font-size: 12px;
        }
      }
    }

    a {
      text-decoration: underline;
      color: inherit;
    }

    .contact-info {
      margin-top: 40px;
      font-family: edmondSans;
      font-weight: normal;
      font-size: 17px;

      @include responsive(mobile) {
        font-size: 12px;
      }
    }
  }
}
