#contact-section {

  $logo-width: 150px;

  $app-width: 30px;

  text-align: center;
  padding: 20px;

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .055em;
    margin: auto;
  }

  .content {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 28px;

    p {
      font-family: sourceCodePro;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: .01em;
      margin-top: 20px;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }

    .contact-info {
      margin-top: 40px;
      margin-bottom: 108px;
    }
  }

  .logo {
    background-image: url('./images/buttons/sosmed_paribawga logo.svg');
    @extend .background-contain;
    width: $logo-width;
    height: 60px;
    margin: auto;
    margin-bottom: 16px;
  }

  .outer-div {
    float: right;
    position: relative;
    left: -50%;
  }

  .apps-logo {
    left: 50%;
    position: relative;

    .app {
      @extend .background-contain;
      margin-right: 11.5px;
      margin-left: 11.5px;
      width: $app-width;
      height: $app-width;
      float: left;
    }
  }
}
