#hero-section {
  $section-height: 650px;
  $section-height-mobile: 558px;

  $tagline-height-mobile: 70%;
  $tagline-width-mobile: 80%;

  $nav-menu-top-mobile: 5%;

  $scroll-tag-width-mobile: 48px;
  $down-tag-width-mobile: 42px;

  background-image: url('images/index/1_coverimage-desktop.jpg');
  @extend .background-cover;
  height: $section-height;

  @include responsive(mobile) {
    background-image: url('images/index/1_coverimage-mobile.jpg');
    height: $section-height-mobile;
  }

  .cover-tagline {
    background-image: url('images/index/1_tagline.png');
    @extend .background-contain;
    @extend .center;

    height: $tagline-height-mobile;
    width: $tagline-width-mobile;
  }

  .nav-menu {
    @extend .horizontal-center;
    top: $nav-menu-top-mobile;

    font-family: sourceCodePro;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: white;

    ul {
      list-style-type: none;

      @include responsive(transition) {
        display: none;
      }

      @include responsive(mobile) {
        display: none;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      li {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    p {
      display: none;

      @include responsive(transition) {
        display: block;
      }

      @include responsive(mobile) {
        display: block;
      }
    }
  }

  .scroll-tag { // 256 x 150
    background-image: url('images/buttons/buttons_scroll.svg');
    @extend .background-cover;
    position: absolute;
    height: 0;

    left: 29px;
    bottom: 30px;

    width: $scroll-tag-width-mobile;
    padding-bottom: 150 / 256 * $scroll-tag-width-mobile;

    @include responsive (mobile) {
      left: 29px;
      bottom: 30px;
    }
  }

  .down-tag { // 193 x 150
    background-image: url('images/buttons/buttons_down.svg');
    @extend .background-cover;
    position: absolute;
    height: 0;

    width: $down-tag-width-mobile;
    padding-bottom: 150 / 193 * $down-tag-width-mobile;
    right: 22px;
    bottom: 30px;

    @include responsive(mobile) {
      right: 22px;
      bottom: 30px;
    }
  }
}
