.level { // 149x508
  $width: 40px;
  $top: 57px;

  z-index: 1;
  width: $width;
  height: 0;


  position: fixed;
  top: $top;

  div {
    display: none;
    width: 100%;
    padding-bottom: 508 / 149 * $width;
    @extend .background-contain;
    background-position: left;
  }
}
