.mobile-images-collection {
  margin-bottom: 0;

  $image-width: 180px; // 152
  $image-height: 210px; // 177
  $image-between-margin: 44px / 2;

  $more-tag-width: 30px;

  .max-width-content {
    top: 30px;
  }

  .title {
    z-index: 100;
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 40px;
  }

  .more-tag { // 166 x 150
    background-image: url('images/buttons/buttons_more.svg');
    @extend .background-contain;

    position: absolute;
    top: 30px;
    right: 28px;

    width: $more-tag-width;
    height: 0;
    padding-bottom: 150 / 166 * $more-tag-width;
    margin-top: 10px;
  }

  /* * * * * * * * * * * * * * * * * * * * * * * * * *
  * Group of images and descriptions
  * - container to contain all boxes that allows
  *     horizontal scrolling
  * - image-and-description-box: a box to contain
  *     one image and its description below
  * * * * * * * * * * * * * * * * * * * * * * * * * */

  .images-descriptions-container {
    z-index: 1;
    margin-left: 68px;
    margin-bottom: 30px;
    width: auto;
    min-height: 450px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .image-and-description-box {
    display: inline-block;
    vertical-align: top;
    width: $image-width;
    margin-right: $image-between-margin;
    margin-left: $image-between-margin;
    white-space: normal;

    .image, .image1, .image2, .image3, .image4 {
      display: none;
      @extend .background-contain;
      width: $image-width;
      height: $image-height;
    }

    .image {
      display: block;
    }

    .image1 {
      display: block;
    }

    .text {
      font-family: edmondSans;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 17px;
    }

    .name {
      @extend .text;
      font-family: sourceCodePro;
      font-weight: 300;
      margin-top: 23px;
      margin-bottom: 23px;

      text-transform: uppercase;
    }
  }

}
