#press-section {
  @extend .mobile-images-collection;
  //
  // .title {
  //   margin-bottom: 0;
  // }
  //
  // .date {
  //   margin-top: 26px;
  //   margin-bottom: 12px;
  //
  //   font-family: edmondSans;
  //   font-weight: normal;
  //   font-size: 14px;
  //   letter-spacing: .05em;
  //   line-height: 17px;
  //   text-transform: uppercase;
      //
      // @include responsive(mobile) {
      //   font-size: 12px;
      // }
  // }
  //
  // .text {
  //   margin-top: 19px;
  // }

  .text {
    text-align: center;
    font-family: sourceCodePro;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .05em;
    line-height: 19px;
    text-transform: uppercase;

    margin-top: 150px;
    margin-bottom: 150px;
  }
}
