#sustain-section {

  padding-top: 85px;
  margin-bottom: 75px;

  $chair-width: 464px;
  $chair-width-trans: 250px;
  $chair-width-mobile: 197px;

  $chair-height: 543px;
  $chair-height-trans: 350px;
  $chair-height-mobile: 231px;

  $chair-marble-overlap: -74px;

  $image-container-top: 50px;

  $marble-container-width: calc(40% - 197px);
  $marble-container-width-mobile: calc(100% - 197px); //chair-width
  $marble-top: -73px;

  $marble-width: 566px;
  $marble-width-trans: 400px;
  $marble-width-mobile: 320px;

  $marble-height: 330px;
  $marble-height-trans: 240px;
  $marble-height-mobile: 221px;

  .content {
    top: 50px;
  }

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: .015em;
    margin-bottom: 20px;
    position: absolute;
    top: 137px;
    left: 769px;

    @include responsive(transition) {
      left: 330px;
    }

    @include responsive(mobile) {
      position: relative;
      top: auto;
      left: auto;
      font-size: 43px;
      float: none;
      margin-left: 35px;
    }
  }

  .img1-chair-container {
    float: left;
    overflow: visible;
    width: $chair-width;
    margin-top: $image-container-top;

    @include responsive(transition) {
      margin-top: 0;
      width: $chair-width-trans;
    }

    @include responsive(mobile) {
      margin-top: 0;
      width: $chair-width-mobile;
    }

    .chair {
      background-image: url('images/index/6_sustain2.jpg');
      @extend .background-cover;
      position: relative;
      width: 100%;
      height: $chair-height;
      top: -40px;

      @include responsive(transition) {
        top: 0;
        height: $chair-height-trans;
      }

      @include responsive(mobile) {
        top: 0;
        height: $chair-height-mobile;

      }
    }
  }

  .img2-marble-container {
    float: left;
    overflow: visible;
    width: $marble-container-width;
    margin-top: $image-container-top;

    @include responsive (mobile) {
      float: right;
      margin-top: 0;
      width: $marble-container-width-mobile;
    }

    .marble {
      background-image: url('images/index/6_sustain1.jpg');
      height: $marble-height;
      width: $marble-width;
      position: relative;
      z-index: -1;

      @include responsive(transition) {
        height: $marble-height-trans;
        width: $marble-width-trans;
      }

      @include responsive (mobile) {
        height: $marble-height-mobile;
        width: $marble-width-mobile;
        top: $marble-top;
        left: $chair-marble-overlap;

      }
    }
  }

  .text-container {
    width: 0;
    margin-top: 24px;
    float: left;
    padding-left: 49px;
    padding-right: 49px;

    @include responsive (mobile) {
      width: 100%;
      margin-bottom: 120px;
    }

    .text {

      width: 400px;
      margin-left: -320px;
      margin-top: 155px;

      @include responsive (transition) {
        margin-left: -200px;
      }

      @include responsive (mobile) {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
      }

      p {
        width: 240px;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;
        min-height: 160px;

        // font-family: edmondSans;
        // font-weight: normal;
        font-family: sourceCodePro;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: .05em;
        line-height: 19px;

        @include responsive (mobile) {
          width: 100%;
          min-height: auto;
        }
      }
    }
  }
}
