#sustain-section {

  $chair-width: 197px;
  $chair-height: 231px;

  $chair-marble-overlap: -74px;

  $marble-container-width: calc(100% - 197px); //chair-width
  $marble-top: -73px;
  $marble-width: 320px;
  $marble-height: 221px;

  .title {
    font-family: parabola;
    font-weight: 300;
    font-size: 43px;
    letter-spacing: .015em;
    margin-left: 35px;
    margin-bottom: 20px;
  }

  .img1-chair-container {
    float: left;
    overflow: visible;
    width: $chair-width;

    .chair {
      background-image: url('images/index/6_sustain2.jpg');
      @extend .background-contain;

      width: 100%;
      height: $chair-height;
    }
  }

  .img2-marble-container {
    float: right;
    overflow: visible;
    width: $marble-container-width;

    .marble {
      background-image: url('images/index/6_sustain1.jpg');
      width: $marble-width;
      height: $marble-height;
      top: $marble-top;
      left: $chair-marble-overlap;
      position: relative;
      z-index: -1;
    }
  }

  .text-container {
    width: 100%;
    margin-top: 24px;
    float: left;
    padding-left: 49px;
    padding-right: 49px;
    margin-bottom: 120px;

    p {
      font-family: sourceCodePro;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: .05em;
      line-height: 19px;
    }
  }
}
